<div class="stay white-box bottom-shadow">
<div class="block-left">
  <h5 class="text-left black inline-block left">
    家計簿一覧<br><span class="fs-07">※年月をタップすると各月の家計簿が見れます</span>
  </h5>
  <%= link_to new_month_path do %>
    <div class="plus-bottom-small bottom-shadow inline-block">＋</div>
  <% end %>
</div>
  <table class="text-center table">
    <% months.each do |month| %>
      <tr id="month-trash-button-<%=month.id%>">
        <td><%= link_to month.month.strftime("%Y年%-m月"), month_details_path(month),class: 'btn btn-warning' %></td>
        <td class="text-right fs-13"><%= "#{month.balance_last.to_s(:delimited)}円" %></td>
        <td>
          <%= link_to edit_month_path(month) do %>
            <i class="fas fa-pen fa-lg"></i>
          <% end %>
        </td>
      </tr>
    <% end %>
  </table>
  </div>
  