<table class="text-center table table-hover">
    <tr class="table-warning">
      <th>年月</th>
      <th colspan="2">口座残高</th>
      
      <th></th>
    </tr>
    <% months.each do |month| %>
      <tr class="table-light" id="month-trash-button-<%=month.id%>">
        <td><%= link_to month.month.strftime("%Y/%-m"), month_details_path(month),class: 'btn btn-outline-dark btn-block' %></td>
        <td class="text-right fs-15"><%= "#{month.balance_last.to_s(:delimited)}円" %></td>

        <td class="text-left">
          <% if month.balance < month.balance_last %>
            <span class="default-blue"><%= "　+#{(month.balance_last - month.balance).to_s(:delimited)}円 " %></span>
          <% elsif month.balance == month.balance_last %>
            -
          <% else %>
            <span class="red"><%= "　#{(month.balance_last - month.balance).to_s(:delimited)}円 " %><i class="fas fa-fire"></i></span>
          <% end %>
        </td>
        <td>
          <%= link_to edit_month_path(month) do %>
            <%= icon 'fa', 'pen' %>
          <% end %>
          <%= link_to month_path(month), method: :delete, data:{confirm:"本当に削除していいですか？"}, remote: true do %>
            <%= icon 'fas', 'trash' %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </table>