<div class="stay white-box bottom-shadow">
<div class="block-left">
  <h5 class="text-left black inline-block left">
    家計簿一覧<br><span class="fs-07">※年月をタップすると各月の家計簿が見れます</span>
  </h5>
  <%= link_to new_month_path do %>
    <div class="plus-bottom-small bottom-shadow inline-block">＋</div>
  <% end %>
</div>
<table class="text-center table">
    <% months.each do |month| %>
      <tr id="month-trash-button-<%=month.id%>">
        <td><%= link_to month.month.strftime("%Y/%-m"), month_details_path(month),class: 'btn btn-outline-secondary' %></td>
        <td class="text-right fs-12"><%= "#{month.balance_last.to_s(:delimited)}円" %></td>

        <td class="text-left fs-07">
          <% if month.balance < month.balance_last %>
            <span class="default-blue"><%= "　+#{(month.balance_last - month.balance).to_s(:delimited)}円 " %></span>
          <% elsif month.balance == month.balance_last %>
            -
          <% else %>
            <span class="red"><%= "　#{(month.balance_last - month.balance).to_s(:delimited)}円 " %><i class="fas fa-fire"></i></span>
          <% end %>
        </td>
        <td>
          <%= link_to edit_month_path(month) do %>
            <%= icon 'fa', 'pen' %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </table>
  </div>
  