<table class="text-center table table-hover table-striped">
    <tr class="table-secondary">
      <th>年月</th>
      <th>月初</th>
      <th>月末</th>
      <th>明細数</th>
      <th></th>
    </tr>
    <% months.each do |month| %>
      <tr class="table-light" id="month-trash-button-<%=month.id%>">
        <td><%= link_to month.month.strftime("%Y年%-m月"), month_details_path(month) %></td>

        <td>
        <% if month.balance.present? %>
          <%= "#{month.balance.to_s(:delimited)}円" %>
        <% else %>
          <%= month.balance %>
        <% end %>
        </td>

        <td>
        <% if month.balance.present? %>
          <%= "#{month.balance_last.to_s(:delimited)}円" %></td>
        <% else %>
          <%= month.balance_last %>
        <% end %>
        </td>
        <td><%= "（#{Detail.where(user_id: current_user.id, month_id: month.id).count(:id)}）" %></td>

        <td>
          <%= link_to edit_month_path(month) do %>
            <%= icon 'fa', 'pen' %>
          <% end %>
          <%= link_to month_path(month), method: :delete, data:{confirm:"本当に削除していいですか？"}, remote: true do %>
            <%= icon 'fas', 'trash' %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </table>