<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-LKBSFQGWRN"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-LKBSFQGWRN');
</script>
<h2><%= @month.month.strftime("月初残高編集（%Y年%-m月）") %></h2>
  <div class="col-sm-12">
    <ul class="list-inline">
      <%= form_with model: @month, html: { class: 'form-inline' }, local: true do |f| %>
          <%= f.text_field :balance, class: 'form-control',placeholder: @month.balance %>
        <%= f.submit "修正", class: 'btn btn-outline-warning btn-sm' %>
      <% end %>
    </ul>
  </div>
<%= link_to "戻る", months_path %>