<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-LKBSFQGWRN"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-LKBSFQGWRN');
</script>
<header>
<div class='fixed-top bottom-shadow'>
  <div class="header">
    <table class="table">
      <tr>
        <td class="p-0"><h2 class="white pt-15 text-left pl-50">残高修正</h2></td>
        <td class="p-0"><h2 class="text-right pt-15 pr-20"><span class="white fs-07"><%= @month.month.strftime(" %Y年%-m月 ") %></span></h2></td>
      </tr>
    </table>
  </div>
  <input type="checkbox" class="openSidebarMenu" id="openSidebarMenu">
  <label for="openSidebarMenu" class="sidebarIconToggle">
    <div class="spinner diagonal part-1"></div>
    <div class="spinner horizontal"></div>
    <div class="spinner diagonal part-2"></div>
  </label>
  <div id="sidebarMenu">
    <ul class="sidebarMenuInner">
      <li class="text-left"><i class="fas fa-home fa-lg"></i><%= link_to ' ホーム', profile_path %></li>
      <li class="text-left"><i class="fas fa-donate fa-lg"></i><%= link_to ' 家計簿一覧', months_path %></li>
      <% if @authenticated_this_month.present? %>
        <li class="text-left"><i class="fas fa-list fa-lg"></i><%= link_to ' 明細', month_details_path(@authenticated_this_month.id) %></li>
        <li class="text-left"><i class="fas fa-exchange-alt fa-lg"></i><%= link_to ' 精算', reimbursement_month_details_path(@authenticated_this_month.id) %></li>
        <li class="text-left"><i class="fas fa-chart-pie fa-lg"></i><%= link_to ' 分析', month_budgets_path(@authenticated_this_month.id) %></li>
        <li class="text-left"><i class="fas fa-donate fa-lg"></i><%= link_to ' 入金', month_deposits_path(@authenticated_this_month.id) %></li>
      <% end %>
      <% if current_user.name == "ゲストユーザー" %>
        <li class="text-left"><i class="fas fa-user fa-lg"></i><%= link_to " #{current_user.name}", profile_path %></li>
      <% else %>
        <li class="text-left"><i class="fas fa-user fa-lg"></i><%= link_to " #{current_user.name}", edit_profile_path %></li>
      <% end %>
      <li class="text-left"><i class="fas fa-file-alt fa-lg"></i><%= link_to " 利用規約", terms_of_service_path %></li>
      <li class="text-left"><i class="fas fa-file-alt fa-lg"></i><%= link_to " プライバシーポリシー", privacy_policy_path %></li>
      <li class="text-left"><i class="fas fa-sign-out-alt fa-lg"></i><%= link_to ' ログアウト', logout_path, method: :delete, data:{confirm:"ログアウトしますか？"} %></li>
    </ul>
  </div>
</div>
</header>
<body class="bgc-white">
<div class="container mt-70">
  <div class="row">
    <div class="col">
      <% if current_user.name == "ゲストユーザー" %>
        <div class="invite-resister">
          <p class="mb-5">閲覧中のデータはサンプルです</p>
          <%= link_to "ユーザー登録へ", invite_resiter_path, method: :delete %>
        </div>
      <% end %>
      <div class="col-sm-12">
        <ul class="list-inline"><br>
          <%= form_with model: @month, local: true do |f| %>
            <div class="form-group">
              <div class="w-200 text-left">
                <%= f.label :前月末の残高 %>
                <%= f.number_field :balance, class: 'form-control form-control-lg', placeholder: @month.balance %>
              </div>
            </div><br>
            <%= f.submit '更新する', class: 'btn btn-warning btn-lg' %><br><br>
            <%= link_to "キャンセル" ,months_path, class: 'btn btn-outline-warning btn-lg' %><br><br>
            <%= link_to "家計簿を消去", month_path(@month), method: :delete, data:{confirm:"本当に消去していいですか？当月の記録はすべて消去されます。"}, class: 'btn btn-outline-danger btn-lg' %>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</div>
</body>