<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-LKBSFQGWRN"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-LKBSFQGWRN');
</script>
<header>
<div class='fixed-top'>
  <div class="header bottom-shadow">
    <table class="table">
      <tr>
        <td class="p-0"><h2 class="pt-15 text-left pl-50">家計簿一覧</h2></td>
      </tr>
    </table>
  </div>
  <input type="checkbox" class="openSidebarMenu" id="openSidebarMenu">
  <label for="openSidebarMenu" class="sidebarIconToggle">
    <div class="spinner diagonal part-1"></div>
    <div class="spinner horizontal"></div>
    <div class="spinner diagonal part-2"></div>
  </label>
  <div id="sidebarMenu">
    <ul class="sidebarMenuInner">
      <%= link_to profile_path do %><li class="text-left"><i class="fas fa-home fa-lg"></i>　ホーム</li><% end %>
      <%= link_to months_path do %><li class="text-left"><i class="fas fa-donate fa-lg"></i>　家計簿一覧</li><% end %>
      <% if @authenticated_this_month.present? %>
        <%= link_to month_details_path(@authenticated_this_month.id) do %><li class="text-left"><i class="fas fa-list fa-lg"></i>　明細</li><% end %>
        <%= link_to reimbursement_month_details_path(@authenticated_this_month.id) do %><li class="text-left"><i class="fas fa-exchange-alt fa-lg"></i>　精算</li><% end %>
        <%= link_to month_budgets_path(@authenticated_this_month.id) do %><li class="text-left"><i class="fas fa-chart-pie fa-lg"></i>　分析</li><% end %>
        <%= link_to month_deposits_path(@authenticated_this_month.id) do %><li class="text-left"><i class="fas fa-donate fa-lg"></i>　入金</li><% end %>
      <% end %>
      <% if current_user.name == "ゲストユーザー" %>
        <%= link_to profile_path do %><li class="text-left"><i class="fas fa-user fa-lg"></i><%= "　#{current_user.name}"  %></li><% end %>
      <% else %>
        <%= link_to edit_profile_path do %><li class="text-left"><i class="fas fa-user fa-lg"></i><%= "　#{current_user.name}" %></li><% end %>
      <% end %>
      <%= link_to terms_of_service_path do %><li class="text-left"><i class="fas fa-file-alt fa-lg"></i>　利用規約</li><% end %>
      <%= link_to privacy_policy_path do %><li class="text-left"><i class="fas fa-file-alt fa-lg"></i> プライバシーポリシー</li><% end %>
      <%= link_to logout_path, method: :delete, data:{confirm:"ログアウトしますか？"} do %><li class="text-left"><i class="fas fa-sign-out-alt fa-lg"></i>　ログアウト</li><% end %>
    </ul>
  </div>
</div>
</header>
<div class="container pb-20 mb-50">
  <div class="row">
    <div class="col">
      <% if current_user.name == "ゲストユーザー" %>
        <div class="invite-resister">
          <p class="mb-5">閲覧中のデータはサンプルです</p>
          <%= link_to "ユーザー登録へ", invite_resiter_path, method: :delete %>
        </div>
      <% end %>
      <% if @months.present? %>
        <div class="white-box bottom-shadow">
          <h5 class="text-left black fs-11">
            残高推移
          </h5>
          <% if @colum_chart_max > 10000 %>
            <%= area_chart @column_chart.map { |month, balance_last| [month.strftime('%-m月'), balance_last / 10000] }, colors: ['#d6a8027c'], suffix: "万円", library: {xAxis: {labels: {style: {fontSize: '7px'}}},yAxis: {labels: {style: {fontSize: '7px'}}}} %>
          <% else %>
            <%= area_chart @column_chart.map { |month, balance_last| [month.strftime('%-m月'), balance_last] }, colors: ['#d6a8027c'], suffix: "円", library: {xAxis: {labels: {style: {fontSize: '7px'}}},yAxis: {labels: {style: {fontSize: '7px'}}}} %>
          <% end %>
        </div>
      <div id="js-table-month">
        <%= render partial: 'months/month', locals: { months: @months } %>
      </div>
      <% else %>
      <body class="bgc-white pt-30">
        <p>まずは家計簿を作成しましょう！</p>
      </body>
      <% end %>
    </div>
  </div>
</div>
<footer>
  <div class="display-table margin-right">
    <%= link_to new_month_path do %>
      <div class="plus-bottom">＋</div>
    <% end %>
  </div>
</footer>
