<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-LKBSFQGWRN"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-LKBSFQGWRN');
</script>
<div class="col-sm-12 col-lg-8">
<h2>家計簿一覧</h2>
  <p class="border-bottom">
    <%= form_with model: @month, local: true do |f| %>
      <%= f.date_select :month, class: 'form-control', use_month_numbers: true, date_separator: '年', discard_day: true %>月
      <%= f.number_field :balance, id: 'js-new-month-balance', placeholder: '月初残高' %>
      <%= f.submit '年月の追加', class: 'btn btn-outline-primary btn-sm' %>
    <% end %>
  </p>
  <% if @months.present? %>
  <%= column_chart @column_chart.map { |month, balance_last| [month.strftime('%-m月'), balance_last.to_j] }, colors: ['#ffc107'], suffix: "万" %>
  <div id="js-table-month">
    <%= render partial: 'months/month', locals: { months: @months } %>
  </div>
  <% else %>
    <p>家計簿を作成して下さい</p>
  <% end %>
</div>

