<script async src="https://www.googletagmanager.com/gtag/js?id=G-LKBSFQGWRN"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-LKBSFQGWRN');
</script>
<div class="container mt-70">
  <div class="row">
    <div class="col-md-10 offset-md-1 col-lg-8 offset-lg-2">
      <h2 class="text-left">年月の追加</h2>
      <%= form_with model: @month, local: true do |f| %>
          <div class="form-group">
            <div class="w-200 text-left">
            <%= f.label :年月 %><br>
            <%= f.date_select :month, {use_month_numbers: true, date_separator: '年', discard_day: true}, {class: 'form-control form-control-lg', style: 'display: inline-block;width: auto;'} %>月
            </div>
          </div>
          <br>
          <div class="form-group">
            <div class="w-200 text-left">
              <%= f.label :前月末の残高 %>
              <%= f.number_field :balance, class: 'form-control form-control-lg', placeholder: '' %>
            </div>
          </div><br>
            <%= f.submit '追加する', class: 'btn btn-warning btn-lg' %><br><br>
            <%= link_to "キャンセル" ,months_path, class: 'mt-10', class: 'btn btn-outline-warning btn-lg' %>
      <% end %>
    </div>
  </div>
</div>