<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-LKBSFQGWRN"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-LKBSFQGWRN');
</script>
<% if logged_in? %>
<header>
<div class='fixed-top bottom-shadow'>
  <div class="header">
  </div>
  <input type="checkbox" class="openSidebarMenu" id="openSidebarMenu">
  <label for="openSidebarMenu" class="sidebarIconToggle">
    <div class="spinner diagonal part-1"></div>
    <div class="spinner horizontal"></div>
    <div class="spinner diagonal part-2"></div>
  </label>
  <div id="sidebarMenu">
    <ul class="sidebarMenuInner">
      <li class="text-left"><i class="fas fa-home fa-lg"></i><%= link_to ' ホーム', profile_path %></li>
      <li class="text-left"><i class="fas fa-donate fa-lg"></i><%= link_to ' 家計簿一覧', months_path %></li>
      <% if @authenticated_this_month.present? %>
        <li class="text-left"><i class="fas fa-list fa-lg"></i><%= link_to ' 明細', month_details_path(@authenticated_this_month.id) %></li>
        <li class="text-left"><i class="fas fa-exchange-alt fa-lg"></i><%= link_to ' 精算', reimbursement_month_details_path(@authenticated_this_month.id) %></li>
        <li class="text-left"><i class="fas fa-chart-pie fa-lg"></i><%= link_to ' 分析', month_budgets_path(@authenticated_this_month.id) %></li>
        <li class="text-left"><i class="fas fa-donate fa-lg"></i><%= link_to ' 入金', month_deposits_path(@authenticated_this_month.id) %></li>
      <% end %>
      <% if current_user.name == "ゲストユーザー" %>
        <li class="text-left"><i class="fas fa-user fa-lg"></i><%= link_to " #{current_user.name}", profile_path %></li>
      <% else %>
        <li class="text-left"><i class="fas fa-user fa-lg"></i><%= link_to "#{current_user.name}", edit_profile_path %></li>
      <% end %>
      <li class="text-left"><i class="fas fa-file-alt fa-lg"></i><%= link_to " 利用規約", terms_of_service_path %></li>
      <li class="text-left"><i class="fas fa-file-alt fa-lg"></i><%= link_to " プライバシーポリシー", privacy_policy_path %></li>
      <li class="text-left"><i class="fas fa-sign-out-alt fa-lg"></i><%= link_to ' ログアウト', logout_path, method: :delete %></li>
    </ul>
  </div>
</div>
</header>
<% end %>
<div class="container mt-70 text-left">
  <div class="row">
    <div class="col-sm-12">
    <h2>利用規約</h2>
    <h4>はじめに</h4>
    <p>家計簿サービス「Common Wallet」の利用については、本規約に必ず同意のうえご利用ください。</p>
    <h4>第 1 条（利用規約について）</h4>
    <p>1. Common Wallet 利用規約（以下、「本規約」といいます）は、本サービス（第 2 条 1 号で定義します）を利用するすべての方（以下「利用者」といいます）との間の一切の関係に適用するものとします。</p>
    <p>2. 利用者は、本サービスを利用することにより、本規約の内容について同意したものとみなされます。</p>
    <h4>第 2 条（用語の定義について）</h4>
    <p>本規約等において使用する用語の意義は、次の各号の定めるとおりとします。</p>
    <p>1. 「本サービス」とは、利用者がアプリ上で家計に関する情報を記録、編集等の上、管理することができる全てのサービスをいいます。</p>
    <p>2. 「家計に関する情報」とは、支出、収入、振替、予算その他利用者が投稿、編集等した家計に関する一切の情報をいいます。</p>
    <p>3. 「登録情報」とは、メールアドレス、ID、パスワード、プロフィール等サービスを通じて本サービスに提供する情報をいいます。</p>
    <p>4. 「コンテンツ」とは、データ、文書、ソフトウェア、画像、文字、音等その他一切の情報をいいます。</p>
    <p>5. 「ID」とは、パスワードと組み合わせて、ユーザーとその他の者とを識別するために用いられる文字列、符号をいいます。</p>
    <p>6. 「パスワード」とは、ユーザーIDと組み合わせて、ユーザーと他の者とを識別するために用いられる文字列、符号をいいます。</p>
    <h4>第 3 条（本サービスの利用条件について）</h4>
    <p>1. 本サービスの利用を希望する者は、自らの意思及び責任をもって、本規約等の内容に同意した上で、本サービスを利用するものとします。</p>
    <p>2. 利用者が本サービスを通じて登録情報、家計に関する情報その他の情報を入力する場合は、自身の情報として真実かつ正確な最新の情報を入力するものとします。</p>
    <p>3. ユーザーは、登録情報について、自己の責任の下、任意に変更、追加その他の管理をするものとします。</p>
    <h4>第 4 条（本サービスの変更等）</h4>
    <p>1. 本サービスは、本サービスの全部又は一部をいつでも任意の理由で変更、追加、中断、終了（以下本条において「変更等」といいます）することができます。</p>
    <p>2. 本サービスは、本サービスの全部又は一部を有料とする場合があります。この場合、本サービスは本サービス上において、その内容をユーザーに事前に通知いたします。</p>
    <p>3. 本サービスは、本サービスの変更等により利用者に生じたいかなる損害等について、本サービスに故意又は重過失があったときを除き、責任を負うものではありません。</p>
    <h4>第 5 条（登録解除、サービスの利用停止について）</h4>
    <p>1. 本サービスは、ユーザーが次の各号に該当すると判断した場合には、事前に通知することなく、ユーザー登録を取り消すことがあります。</p>
    <p>・不適切なコンテンツを掲載している場合</p>
    <p>・ID 又はパスワードの不正利用があった場合</p>
    <p>・本規約等に反する行為があった場合</p>
    <p>・90 日間連続でログインがない場合</p>
    <p>・その他、本サービスが不適切と判断する事由があった場合</p>
    <p>2. 前項の場合において、利用者に何らかの損害が生じたとしても、本サービスに故意又は重過失があったときを除き、本サービスは責任を負いません。前項に基づきユーザー登録を取り消す場合、本サービスは利用者の登録情報、家計に関する情報その他コンテンツについて継続して保有する義務を負わないものとします。</p>
    <h4>第 6 条（ID 及びパスワードについて）</h4>
    <p>1. 利用者は、自分の管理に属する使用可能なメールアドレスを ID として正確に登録しなければならず、当該メールアドレスが自己の管理に属さなくなったときには、自己の管理に属する使用可能な別のメールアドレスに変更しなければならないものとします。</p>
    <p>2. 利用者は、容易に第三者に推測されないパスワードを設定すること、第三者に対しパスワードを公開しないこと、複数人が使用するコンピュータ又は携帯電話上で本サービスを利用する際にはログアウトすることなどを遵守し、ID 及びパスワードの管理について一切の責任を持つものとします。</p>
    <p>3. ユーザーはユーザー登録時に利用したメールアドレス及びパスワードを第三者に譲渡、又は使用させることはできません。</p>
    <p>4. 本サービスは、登録されたパスワードによって本サービスの利用があった場合、ユーザー登録を行った本人が利用したものと扱うことができ、当該利用によって生じた結果及びそれに伴う一切の責任については、ユーザー登録を行った本人に帰属するものとします。</p>
    <p>5. ID やパスワードが第三者に利用されたことによって生じた家計に関する情報その他コンテンツの改ざんによる損害、本サービスに提供するメールアドレスが不正確であったことから本サービスから通知を受けられなくなったことによる損害、その他の損害等につきましては、本サービスに故意又は重過失があったときを除き、本サービスは責任を負いません。</p>
    <h4>第 7 条（利用環境の整備）</h4>
    <p>1. 利用者は自らの費用と責任において必要な機器・ソフトウェア・通信手段等を用意し適切に接続・操作することとします。</p>
    <p>2. 利用者は自己の利用環境に応じて、コンピュータウィルスの感染の防止、不正アクセス及び情報漏洩の防止等のセキュリティ対策を講じるものとします。</p>
    <p>3. 本サービスは利用者の利用環境について一切関与せず、また、本サービスに故意又は重過失があったときを除き、責任を負いません。</p>
    <h4>第 8 条（個人情報の取扱い）</h4>
    <p>本サービスは、個人情報を本サービスの「プライバシーポリシー」に基づき、適切に取り扱うものとします。</p>
    <h4>第 9 条（統計データ等の閲覧、利用）</h4>
    <p>本サービスは、家計に関する情報その他コンテンツ、登録情報等を個人を識別、特定できないように加工、集計、及び分析した統計データ等を作成し、当該利用履歴又は統計データ等を何らの制限なく閲覧、利用（第三者に閲覧、利用させること、マーケティング資料としての提供、本サービスの新機能の開発、市場の調査を含みますが、これに限られません）することができるものとし、利用者はこれをあらかじめ承諾します。</p>
    <h4>第 10 条（コンテンツの著作権について）</h4>
    <p>1. 利用者が本サービスを利用して投稿・編集等した家計に関する情報その他コンテンツが著作物に該当する場合、当該著作物に関する著作権は、利用者に留保されるものとします。ただし、本サービスを利用して投稿・編集等した家計に関する情報その他コンテンツについては、本サービス及び本サービスと提携するサイト又はその他の媒体・サービスにおいて個人を識別、特定できない措置その他本サービスが必要とする処置を行った上で、本サービス又は本サービスが利用許諾する第三者が全世界で非独占的に無償で利用できるものとします。利用者は、本項に基づく本サービス及び本サービスが利用許諾する第三者による著作物の利用について、著作者人格権を行使しないものとします。</p>
    <p>2. 前項に定める著作権を除き、本サービスに関連するコンテンツに関する著作権その他の権利は本サービスに帰属し、利用者は、本サービスに関するコンテンツを無断で複製、上映、公衆送信、頒布、譲渡、貸与、翻訳、翻案、二次利用等することはできません。</p>
    <h4>第 11 条（利用者の禁止行為）</h4>
    <p>利用者は、以下の各号に該当する又は各号に該当するおそれのあると本サービスが判断する行為を行ってはならないものとします。</p>
    <p>・本規約等に違反する行為</p>
    <p>・法令又は公序良俗に違反する行為</p>
    <p>・違法行為・犯罪行為・反社会的行為を暗示・誘発・助長・推奨等する行為</p>
    <p>・本サービス、利用者又は第三者の著作権、商標権等の知的財産権を侵害する行為</p>
    <p>・本サービス、利用者又は第三者の財産・信用・名誉・プライバシーを侵害する行為</p>
    <p>・アダルトサイトその他本サービスがわいせつ的と判断する表現を掲載するサイトへのリンク掲載行為</p>
    <p>・異性との出会い等の誘導、異性交際に関する情報を投稿又は送信する行為</p>
    <p>・営利目的又は商業目的での本サービスの利用行為（本サービスが同意したものを除く）</p>
    <p>・第三者である個人のメールアドレス、電話番号、住所など個人を特定しうる情報の投稿</p>
    <p>・通常利用の範囲を超えてサーバーに負担をかける行為、それを助長する行為、その他本サービスの運営に支障を与える行為</p>
    <p>・コンピュータウィルス等の有害なコンピュータプログラム等を送信又は掲載する行為</p>
    <p>・その他、本サービスが不適切と判断する行為</p>
    <h4>第 12 条（違反行為への対応）</h4>
    <p>1. 利用者が本規約等に違反したと本サービスが判断する場合、本サービスは当該利用者に対し以下の措置を講ずることがあります。ただし、本サービスはその義務を負うものではありません。</p>
    <p>・本規約等に違反する行為等を止め、同様の行為を繰り返さないことを要求すること。</p>
    <p>・違反箇所の削除、是正を行うこと。</p>
    <p>・一時的に本サービスを利用停止とすること。</p>
    <p>・違反事実の本サービス内外での開示（刑事事件その他に該当する可能性がある場合の警察その他の公的機関への情報提供を含む）<p>
    <p>2. 前項の措置により利用者に不利益・損害が発生した場合においても、本サービスはその責任を負いません。また本条の定めにしたがって、本サービスが行った行為に関する、質問、苦情は一切受け付けておりませんのでご了承ください。</p>
    <h4>第 13 条（本サービスの免責）</h4>
    <p>1. 利用者は、(1) 利用者が本サービスを利用したこと、又は利用できなかったこと、(2) 不正アクセスや不正な改変がなされたこと、(3) 本サービス中の他の利用者による行為、(4) 第三者のなりすまし行為、(5) その他本サービスに関連する事項に起因又は関連して生じた一切の損害（精神的苦痛又は逸失利益その他の金銭的損失を含む一切の不利益）に関して、本サービスに故意又は重過失があったときを除き、損害賠償責任を負わないことに同意します。</p>
    <p>2. 本サービスは、本サービスが提供する情報の真実性、最新性、確実性等について保証しません。本サービスは、本サービスが提供する情報に関連して利用者に発生した損害について、本サービスに故意又は重過失があったときを除き、責任を負わないものとします。</p>
    <p>3. 本サービスに付随して本サービス又は第三者から提供される投資に関する情報は、一般的な情報提供を目的としたものであり、有価証券の価値等、又は金融商品の価値等の分析に基づく投資判断に関する助言を目的とするものではありません。</p>
    <p>4. 本サービスは、本サービスに瑕疵（本サービスが第三者よりライセンスを受けているソフトウェアの瑕疵を含みます）がないこと保証しません。本サービスは、万一本サービスに瑕疵があることが判明した場合、その修正に努めますが本サービスの瑕疵に起因して利用者に発生した損害について、本サービスに故意又は重過失があったときを除き、責任を負わないものとします。</p>
    <p>5. 利用者は、本サービス上に記録される直近の日を起算点として過去 12 か月以前の家計に関する情報が削除又は非表示にされる場合があること、および削除された当該情報を本サービスが復旧できないことを予め了承するものとします。利用者は、利用者が投稿・編集等した家計に関する情報その他コンテンツ及び登録情報の保存・管理、バックアップを自己の責任において行うものとします。利用者が本サービスを利用して投稿・編集等した家計に関する情報その他コンテンツ及び登録情報が全部又は一部消滅し、又は改ざんされた場合であっても、本サービスはそれを回復等する責任その他一切の責任を負わないものとします。</p>
    <p>6. 本サービス以外の第三者も、利用者の事前の同意に基づき、本サービスの API を通じて、家計に関する情報その他コンテンツ及び登録情報を第三者が運営するサービスにおいて利用することができる場合があります。利用者が第三者による家計に関する情報その他コンテンツの利用を望まない場合、利用者は、第三者による利用に対して同意を与えないようにしてください。本サービスは、利用者が同意を与えた第三者による家計に関する情報その他コンテンツ及び登録情報に関連して利用者に発生した損害について、本サービスに故意又は重過失があったときを除き、責任を負わないものとします。</p>
    <p>7. 利用者は、本サービスと提携する第三者との提携の終了、第三者のサービス内容、運用方針の変更により、又は利用者が当該第三者のサービスの全部もしくは一部を利用できなくなることにより、本サービスの全部又は一部の利用ができなくなる場合があることを予め了承するものとします。本サービスは、本サービスと提携する第三者のサービスに関連して利用者に発生した損害について、一切の責任を負わないものとします。</p>
    <p>8. 本サービスは日本国外での本サービスの利用に関連して利用者に発生した損害について、本サービスに故意又は重過失があったときを除き、責任を負わないものとします。</p>
    <p>9. 本サービスは、利用者間又は利用者と第三者間に生じた一切のトラブルについて、本サービスに故意又は重過失があったときを除き、責任を負わないものとします。万一、利用者間又は利用者と第三者間に紛争等が発生し、本サービスが直接これにやむを得ず対応した場合、利用者は、本サービスに発生した損害、費用（合理的な弁護士費用を含みます）等の一切を補償するものとします。</p>
    <h4>第 14 条（保守作業等による本サービス運営の一時的な停止）</h4>
    <p>1. 本サービスは、次の各号に該当する場合には利用者への事前の通知や承諾なしに、本サービスの一時的な運営の停止を行うことがあり、利用者は、これを予め承諾します。</p>
    <p>・本サービスにかかるサーバーの保守又は本サービスについて仕様変更もしくはシステムの瑕疵の修補等を行う場合</p>
    <p>・天災地変その他非常事態が発生し、もしくは発生するおそれがあり、又は法令等の改正・成立により本サービスの運営が困難又は不可能になった場合</p>
    <p>・その他本サービスがやむを得ない事由により本サービスの運営上一時的な停止が必要と判断した場合</p>
    <p>2. 前項に定める本サービスの一時的な運営の停止により、利用者が本サービスを利用できない場合であっても、本サービスは、何らの責任も負わないものとします。</p>
    <h4>第 15 条（反社会的勢力の排除に関する表明保証）</h4>
    <p>1. 利用者は、本サービスに対して、本サービスの利用開始時及び将来の利用期間中にわたり、以下の事項に該当しないことを表明し、保証します。</p>
    <p>・暴力団</p>
    <p>・暴力団員</p>
    <p>・暴力団構成員</p>
    <p>・暴力団関係企業</p>
    <p>・総会屋等、社会運動等標ぼうゴロ又は特殊知能暴力集団等</p>
    <p>その他上記に準ずる者</p>
    <p>2. 利用者は、自らまたは第三者を利用して、本サービスの利用開始時及び将来の利用期間中にわたり以下の事項に該当する行為をしないことを表明し、保証します。</p>
    <p>・暴力的な要求行為</p>
    <p>・法的な責任を超えた不当要求</p>
    <p>・取引に関して、脅迫的な言動をし、または暴力を用いる行為</p>
    <p>・風説を流布し、偽計を用い又は威力を用いて本サービスの信用を棄損し、または本サービスの業務を妨害する行為</p>
    <p>・利用者が本条に違反したと本サービスが判断する場合は、本規約等に基づいて、本サービスは違反行為に対応します。</p>
    <h4>第 16 条（権利義務等の譲渡）</h4>
    <p>1. 利用者は、本規約等上の地位に基づく一切の権利義務を、本サービスの事前の書面による承諾なく、第三者に譲渡もしくは貸与し、又は担保に供してはならないものとします。</p>
    <p>2. 本サービスは、本サービスに関する事業を合併、事業譲渡その他の事由により第三者に承継させる場合には、当該事業の承継に伴い、本規約等上の地位、本規約等に基づく権利、義務及び利用者の登録情報、家計に関する情報その他のコンテンツを当該事業の承継人に譲渡することができるものとし、利用者は、かかる譲渡について本項において予め同意したものとします。</p>
    <h4>第 17 条（分離可能性）</h4>
    <p>1. 本規約等の規定の一部が法令に基づいて無効と判断されても、本規約等のその他の規定は有効とします。</p>
    <p>2. 本規約等の規定の一部がある利用者との関係で無効とされ、又は取り消された場合でも、本規約等はその他の利用者との関係では有効とします。</p>
    <h4>第 18 条（準拠法と裁判管轄）</h4>
    <p>本規約等は、日本法を準拠とし、解釈されるものとします。また本規約等に関連し本サービスと利用者の間の訴訟が生じた場合、東京地方裁判所を第一審の専属管轄裁判所とします。</p>
    <p>以上</p>
    </div>
  </div>
</div>
