<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-LKBSFQGWRN"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-LKBSFQGWRN');
</script>
<% if logged_in? %>
<header>
<div class='fixed-top'>
  <div class="header bottom-shadow">
  </div>
  <input type="checkbox" class="openSidebarMenu" id="openSidebarMenu">
  <label for="openSidebarMenu" class="sidebarIconToggle">
    <div class="spinner diagonal part-1"></div>
    <div class="spinner horizontal"></div>
    <div class="spinner diagonal part-2"></div>
  </label>
  <div id="sidebarMenu">
    <ul class="sidebarMenuInner">
      <%= link_to profile_path do %><li class="text-left"><i class="fas fa-home fa-lg"></i>　ホーム</li><% end %>
      <%= link_to months_path do %><li class="text-left"><i class="fas fa-chart-bar fa-lg"></i>　家計簿一覧</li><% end %>
      <% if @authenticated_this_month.present? %>
        <%= link_to month_details_path(@authenticated_this_month.id) do %><li class="text-left"><i class="fas fa-receipt fa-lg"></i>　明細</li><% end %>
        <%= link_to reimbursement_month_details_path(@authenticated_this_month.id) do %><li class="text-left"><i class="fas fa-cash-register fa-lg"></i>　精算</li><% end %>
        <%= link_to month_budgets_path(@authenticated_this_month.id) do %><li class="text-left"><i class="fas fa-chart-pie fa-lg"></i>　分析</li><% end %>
        <%= link_to month_deposits_path(@authenticated_this_month.id) do %><li class="text-left"><i class="fas fa-piggy-bank fa-lg"></i>　入金</li><% end %>
      <% end %>
      <% if current_user.name == "ゲストユーザー" %>
        <%= link_to profile_path do %><li class="text-left"><i class="fas fa-user fa-lg"></i><%= "　#{current_user.name}"  %></li><% end %>
      <% else %>
        <%= link_to edit_profile_path do %><li class="text-left"><i class="fas fa-user fa-lg"></i><%= "　#{current_user.name}" %></li><% end %>
      <% end %>
      <%= link_to terms_of_service_path do %><li class="text-left"><i class="fas fa-file-alt fa-lg"></i>　利用規約</li><% end %>
      <%= link_to privacy_policy_path do %><li class="text-left"><i class="fas fa-file-alt fa-lg"></i>　プライバシーポリシー</li><% end %>
      <%= link_to logout_path, method: :delete, data:{confirm:"ログアウトしますか？"} do %><li class="text-left"><i class="fas fa-sign-out-alt fa-lg"></i>　ログアウト</li><% end %>
    </ul>
  </div>
</div>
</header>
<% end %>
<div class="top-background pb-30">
  <div class="col-sm-12">
    <div class="main-contents">
    <div class="container">
    <h1 class="sub-image"><br><%= image_tag 'top_pig.png', width: '500', height: '128'%></h1>
      <div class="row justify-content-center">
        <div class="col-sm-12 col-md-11 col-lg-5 align-self-center">
          <div class="chatches">
            <div class="main-catch">
              <h1 class="left bold">夫婦円満は家計簿から。</h1>
            </div>
            <div class="sub-chatch mt-10">
              <h4 class="left">「Common Wallet」は<br>夫婦のお金を見える化する<br><span class="orange bold">”共通財布専用”</span>家計簿です。</h4>
              <p class="left">※スマホ利用を想定したアプリです。<br>PCでは正常に作動しない場合がございます。</p>
              <h1><%= link_to '無料で始める', new_user_path, class: 'big ui blue button' %></h1>
              <h1><%= link_to 'デモ画面', guest_new_path, method: :post, class: 'big ui grey button' %></h1><br class="visible-lg-block"><br class="visible-lg-block">
            </div>
          </div>
        </div>
        <div class="col-8 col-sm-8 col-md-8 col-lg-5 align-self-center">
          <div class="sub-image">
            <%= image_tag 'top-image.png', width: '100%'%>
          </div>
        </div>
      </div>
    </div>
    </div>
  </div>
</div>
<div class="sub-contents-1 center container">
  <h1 class="bold"><br><span class="marker-orange">"共通財布"って何？</span></h1>
  <div class="explain mt-20">
    <h4 class="left"><span class="bold">”共通財布管理”</span>は家計の管理手法の1つです。<br>夫婦個人の財布とは別に<br class="visible-xs-block"><span class="orange bold">「共通の財布(= Common Wallet)」</span><br class="visible-xs-block">を用意します。<br>共通財布内で生活費をやりくりすることで、自由に使える個人の財布と生活費を切り分けることが出来ます。<br><br><span class="bold">「Common Wallet」は、”共通財布用の家計簿”として非常に適しています。</span></h4><br>
  </div>
  <div class="what-common-wallet">
    <%= image_tag 'what_common_wallet.png', width: '100%' %>
  </div>
</div>
<div class="sub-contents-1 center container">
  <h1 class="bold"><br><span class="marker-gray">通常の家計簿は...</span></h1>
  <div class="row">
    <div class="col-sm-12 col-md-6 col-lg-6">
      <div class="features">
        <h3 class="bold"><span class="marker-gray">立替精算が出来ない</span></h3>
        <div class="explain">
          <p class="stay-top h-80 left">一時的に生活費を個人の財布で立替えた場合、<br class="visible-lg-block">精算金額を別途記録・管理しなければいけません。</p>
        </div>
        <div class="row justify-content-center">
        <div class="col-8">
        <%= image_tag 'sad_1.png', width: '100%' %>
        </div>
        </div>
      </div>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-6">
      <div class="features">
        <h3 class="bold"><span class="marker-gray">入金管理が出来ない</span></h3>
        <div class="explain">
          <p class="stay-top h-80 left">毎月の入金額をお互いの収入から算出したい場合、<br class="visible-lg-block">逐一別途で計算・管理しなければいけません。</p>
        </div>
        <div class="row justify-content-center">
        <div class="col-8">
        <%= image_tag 'sad_2.png', width: '100%' %>
        </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="sub-contents-2 center">
  <h1 class="bold"><br><span class="marker-orange">Common Walletの<br class="visible-xs-block">特徴</span></h1>
  <p class="stay-top">共通財布で管理している共働き夫婦に<br class="visible-xs-block">最適な機能がたくさんあります。</p><br>
  <div class="row">
    <div class="col-sm-12 col-md-6 col-lg-3">
      <div class="features">
        <h3 class="bold"><i class="fas fa-check-circle orange"></i><span class="marker-orange">家計簿機能</span></h3>
        <div class="explain">
          <p class="stay-top h-80 left">明細入力や予算設定など、通常の家計簿機能はもちろんありますので、1人用の家計簿としてもご利用いただけます。</p>
        </div>
        <div class="row justify-content-center">
        <div class="col-8 col-sm-10 col-md-10 col-lg-10">
        <%= image_tag 'standard.png', width: '100%' %>
        </div>
        </div>
      </div>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-3">
      <div class="features">
        <h3 class="bold"><i class="fas fa-check-circle orange"></i><span class="marker-orange">データ分析</span></h3>
        <div class="explain">
          <p class="stay-top h-80 left">「残高推移・項目別支出グラフ」など、あなたの家計簿を多面的なデータで分析することが出来ます。</p>
        </div>
        <div class="row justify-content-center">
        <div class="col-8 col-sm-10 col-md-10 col-lg-10">
        <%= image_tag 'Analytics.png', width: '100%' %>
        </div>
        </div>
      </div>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-3">
      <div class="features">
        <h3 class="bold"><i class="fas fa-check-circle orange"></i><span class="marker-orange">精算機能</span></h3>
        <div class="explain">
          <p class="stay-top h-80 left">個人で一時的に立替えた明細について、自動的にデータを抽出・共通財布との精算額を算出してくれます。</p>
        </div>
        <div class="row justify-content-center">
        <div class="col-8 col-sm-10 col-md-10 col-lg-10">
        <%= image_tag 'pay-off.png', width: '100%' %>
        </div>
        </div>
      </div>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-3">
      <div class="features">
        <h3 class="bold"><i class="fas fa-check-circle orange"></i><span class="marker-orange">入金額算出</span></h3>
        <div class="explain">
          <p class="stay-top h-80 left">夫婦それぞれが共通財布へ入金する金額は、自由に設定した条件に従って自動的に算出してくれます。</p>
        </div>
        <div class="row justify-content-center">
        <div class="col-8 col-sm-10 col-md-10 col-lg-10">
        <%= image_tag 'deposit.png', width: '100%' %>
        </div>
        </div>
      </div>
    </div>
  </div>
  <h3 class="mt-70 pb-20 bold"><span class="marker-orange">Common Walletで<br class="visible-xs-block">夫婦の家計を改善しよう！</span></h3>
  <div class="display-lg-none">
    <h1><%= link_to '無料で始める', new_user_path, class: 'big ui blue button' %></h1>
    <h1><%= link_to 'デモ画面', guest_new_path, method: :post, class: 'big ui grey button' %></h1>
  </div>
  <div class="display-xs-none">
    <%= link_to '無料で始める', new_user_path, class: 'big ui blue button' %>
    <%= link_to 'デモ画面', guest_new_path, method: :post, class: 'big ui grey button' %>
  </div>
</div>
