<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-LKBSFQGWRN"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-LKBSFQGWRN');
</script>
<div class="top-background pb-30">
  <div class="col-sm-12">
    <div class="main-contents">
    <div class="container">
    <h1 class="sub-image"><br><%= image_tag 'top.png', width: '500', height: '100'%></h1>
      <div class="row justify-content-center">
        <div class="col-sm-12 col-md-11 col-lg-5 align-self-center">
          <div class="chatches">
            <div class="main-catch">
              <h1 class="left bold">”共働き”の、<br>”共働き”による、<br>”共働き”のための家計簿。</h1>
            </div>
            <div class="sub-chatch mt-10">
              <h4 class="left">「Common Wallet」は<br>製作者のこだわりが詰まった<br><span class="orange bold">”共通財布専用”</span>家計簿です。</h4>
              <h1><%= link_to '無料で始める', new_user_path, class: 'big ui orange button' %></h1>
              <h1><%= link_to 'お試しログイン', guest_new_path, method: :post, class: 'large ui yellow button' %></h1><br class="visible-lg-block"><br class="visible-lg-block">
            </div>
          </div>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-5 align-self-center">
          <div class="sub-image">
            <%= image_tag 'top-image.png', width: '100%'%>
          </div>
        </div>
      </div>
    </div>
    </div>
  </div>
</div>
<div class="sub-contents-1 center container">
  <h1 class="bold"><br><span class="marker-orange">"共通財布"って何？</span></h1>
  <div class="explain mt-20">
    <h4 class="left"><span class="bold">”共通財布管理”</span>とは家計を管理する一つの手法です。<br>夫婦個人の財布とは別に<span class="orange bold">「共通の財布(= Common Wallet)」</span>を用意します。<br>共通財布内で生活費をやりくりすることで、自由に使える個人の財布と生活費を切り分けることが出来ます。<br><br><span class="bold">「Common Wallet」は、”共通財布用の家計簿”として非常に適しています。</span></h4><br>
  </div>
  <div class="what-common-wallet">
    <%= image_tag 'what_common_wallet.png', width: '100%' %>
  </div>
</div>
<div class="sub-contents-1 center container">
  <h1 class="bold"><br><span class="marker-gray">通常の家計簿は...</span></h1>
  <div class="row">
    <div class="col-sm-12 col-md-6 col-lg-6">
      <div class="features">
        <h3 class="bold"><span class="marker-gray">立替精算が出来ない</span></h3>
        <div class="explain">
          <p class="stay-top h-80 left">一時的に生活費を個人の財布で立替えた場合、<br class="visible-lg-block">精算金額を別途記録・管理しなければいけません。</p>
        </div>
        <%= image_tag 'sad_1.png', width: '100%' %>
      </div>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-6">
      <div class="features">
        <h3 class="bold"><span class="marker-gray">入金管理が出来ない</span></h3>
        <div class="explain">
          <p class="stay-top h-80 left">毎月の入金額をお互いの収入から算出したい場合、<br class="visible-lg-block">逐一別途で計算・管理しなければいけません。</p>
        </div>
        <%= image_tag 'sad_2.png', width: '100%' %>
      </div>
    </div>
  </div>
</div>
<div class="sub-contents-2 center">
  <h1 class="bold"><br><span class="marker-orange">Common Walletの<br class="visible-xs-block">特徴</span></h1>
  <p class="stay-top">共通財布で管理している共働き夫婦に<br class="visible-xs-block">最適な機能がたくさんあります。</p><br>
  <div class="row">
    <div class="col-sm-12 col-md-6 col-lg-3">
      <div class="features">
        <h3 class="bold"><i class="fas fa-check-circle orange"></i><span class="marker-orange">家計簿機能</span></h3>
        <div class="explain">
          <p class="stay-top h-80 left">明細入力や予算設定など、通常の家計簿機能はもちろんありますので、1人用の家計簿としてもご利用いただけます。</p>
        </div>
        <%= image_tag 'standard.png', width: '100%' %>
      </div>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-3">
      <div class="features">
        <h3 class="bold"><i class="fas fa-check-circle orange"></i><span class="marker-orange">データ分析</span></h3>
        <div class="explain">
          <p class="stay-top h-80 left">「残高推移・項目別支出グラフ」など、あなたの家計簿を多面的なデータで分析することが出来ます。</p>
        </div>
        <%= image_tag 'Analytics.png', width: '100%' %>
      </div>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-3">
      <div class="features">
        <h3 class="bold"><i class="fas fa-check-circle orange"></i><span class="marker-orange">精算機能</span></h3>
        <div class="explain">
          <p class="stay-top h-80 left">個人で一時的に立替えた明細について、自動的にデータを抽出・共通財布との精算額を算出してくれます。</p>
        </div>
        <%= image_tag 'pay-off.png', width: '100%' %>
      </div>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-3">
      <div class="features">
        <h3 class="bold"><i class="fas fa-check-circle orange"></i><span class="marker-orange">入金額算出</span></h3>
        <div class="explain">
          <p class="stay-top h-80 left">夫婦それぞれが共通財布へ入金する金額は、自由に設定した条件に従って自動的に算出してくれます。</p>
        </div>
        <%= image_tag 'deposit.png', width: '100%' %>
      </div>
    </div>
  </div>
  <h3 class="mt-70 pb-20 bold"><span class="marker-orange">Common Walletで<br class="visible-xs-block">夫婦の家計を改善しよう！</span></h3>
  <div class="display-lg-none">
    <h1><%= link_to '無料で始める', new_user_path, class: 'big ui orange button' %></h1>
    <h1><%= link_to 'お試しログイン', guest_new_path, method: :post, class: 'large ui yellow button' %></h1>
  </div>
  <div class="display-xs-none">
    <%= link_to '無料で始める', new_user_path, class: 'big ui orange button' %>
    <%= link_to 'お試しログイン', guest_new_path, method: :post, class: 'big ui yellow button' %>
  </div>
</div>
