<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-LKBSFQGWRN"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-LKBSFQGWRN');
</script>
<div class="top-background pb-30">
  <div class="col-sm-12">
    <div class="main-contents">
    <div class="container">
    <h1 class="sub-image"><br><%= image_tag 'top.png', width: '500', height: '100'%></h1>
      <div class="row justify-content-center">
        <div class="col-sm-12 col-md-11 col-lg-5 align-self-center">
          <div class="chatches">
            <div class="main-catch">
              <h1 class="left bold">”共働き”の、<br>”共働き”による、<br>”共働き”のための家計簿。</h1>
            </div>
            <div class="sub-chatch">
              <h4>「Common Wallet」は<br>製作者のこだわりが詰まった<br>共働き夫婦の<br class="visible-xs-block"><span class="orange">”共通財布専用”</span>家計簿です。</h4>
              <h1><%= link_to '無料で始める', new_user_path, class: 'big ui orange button' %></h1>
              <h1><%= link_to 'お試しログイン', guest_new_path, method: :post, class: 'large ui yellow button' %></h1><br class="visible-lg-block"><br class="visible-lg-block">
            </div>
          </div>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-5 align-self-center">
          <div class="sub-image">
            <%= image_tag 'top-image.png', width: '100%'%>
          </div>
        </div>
      </div>
    </div>
    </div>
  </div>
</div>
<div class="sub-contents center">
  <h1 class="bold"><br><span class="marker">Common Walletの<br class="visible-xs-block">特徴</span></h1>
    <p class="stay-top">共通財布で管理している共働き夫婦に<br class="visible-xs-block">最適な機能がたくさんあります。</p><br>
    <div class="row">
      <div class="col-sm-12 col-md-6 col-lg-3">
        <div class="features">
          <h3 class="bold"><span class="marker">家計簿機能</span></h3>
          <p class="stay-top h-80">明細入力や予算設定など、通常の家計簿機能はもちろんありますので、1人用の家計簿としてもご利用いただけます。</p>
          <%= image_tag 'standard.png', width: '100%' %>
        </div>
      </div>
      <div class="col-sm-12 col-md-6 col-lg-3">
        <div class="features">
          <h3 class="bold"><span class="marker">データ分析</span></h3>
          <p class="stay-top h-80">「残高推移・項目別支出グラフ」など、あなたの家計簿を多面的なデータで分析することが出来ます。</p>
          <%= image_tag 'Analytics.png', width: '100%' %>
        </div>
      </div>
      <div class="col-sm-12 col-md-6 col-lg-3">
        <div class="features">
          <h3 class="bold"><span class="marker">精算機能</span></h3>
          <p class="stay-top h-80">個人で一時的に立替えた明細について、自動的にデータを抽出・共通財布との精算額を算出してくれます。</p>
          <%= image_tag 'pay-off.png', width: '100%' %>
        </div>
      </div>
      <div class="col-sm-12 col-md-6 col-lg-3">
        <div class="features">
          <h3 class="bold"><span class="marker">入金額算出</span></h3>
          <p class="stay-top h-80">夫婦それぞれが共通財布へ入金する金額は、自由に設定した条件に従って自動的に算出してくれます。</p>
          <%= image_tag 'deposit.png', width: '100%' %>
        </div>
      </div>
    </div>
  </div>
