<script async src="https://www.googletagmanager.com/gtag/js?id=G-LKBSFQGWRN"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-LKBSFQGWRN');
</script>
<header>
<div class='fixed-top'>
  <div class="header bottom-shadow">
    <table class="table">
      <tr>
        <td class="p-0"><h2 class="pt-15 text-left pl-50">ユーザー情報</h2></td>
      </tr>
    </table>
  </div>
  <input type="checkbox" class="openSidebarMenu" id="openSidebarMenu">
  <label for="openSidebarMenu" class="sidebarIconToggle">
    <div class="spinner diagonal part-1"></div>
    <div class="spinner horizontal"></div>
    <div class="spinner diagonal part-2"></div>
  </label>
  <div id="sidebarMenu">
    <ul class="sidebarMenuInner">
      <%= link_to profile_path do %><li class="text-left"><i class="fas fa-home fa-lg"></i>　ホーム</li><% end %>
      <%= link_to months_path do %><li class="text-left"><i class="fas fa-chart-area fa-lg"></i>　家計簿一覧</li><% end %>
      <% if @authenticated_this_month.present? %>
        <%= link_to month_details_path(@authenticated_this_month.id) do %><li class="text-left"><i class="fas fa-receipt fa-lg"></i>　明細</li><% end %>
        <%= link_to reimbursement_month_details_path(@authenticated_this_month.id) do %><li class="text-left"><i class="fas fa-cash-register fa-lg"></i>　精算</li><% end %>
        <%= link_to month_budgets_path(@authenticated_this_month.id) do %><li class="text-left"><i class="fas fa-chart-pie fa-lg"></i>　分析</li><% end %>
        <%= link_to month_deposits_path(@authenticated_this_month.id) do %><li class="text-left"><i class="fas fa-piggy-bank fa-lg"></i>　入金</li><% end %>
      <% end %>
      <% if current_user.name == "ゲストユーザー" %>
        <%= link_to profile_path do %><li class="text-left"><i class="fas fa-user fa-lg"></i><%= "　#{current_user.name}"  %></li><% end %>
      <% else %>
        <%= link_to edit_profile_path do %><li class="text-left"><i class="fas fa-user fa-lg"></i><%= "　#{current_user.name}" %></li><% end %>
      <% end %>
      <%= link_to terms_of_service_path do %><li class="text-left"><i class="fas fa-file-alt fa-lg"></i>　利用規約</li><% end %>
      <%= link_to privacy_policy_path do %><li class="text-left"><i class="fas fa-file-alt fa-lg"></i>　プライバシーポリシー</li><% end %>
      <%= link_to logout_path, method: :delete, data:{confirm:"ログアウトしますか？"} do %><li class="text-left"><i class="fas fa-sign-out-alt fa-lg"></i>　ログアウト</li><% end %>
    </ul>
  </div>
</div>
</header>
<!DOCTYPE html>
<html lang="ja">
  <body class="bgc-white">
    <div class="container">
      <br/>
      <!-- ユーザー情報変更画面 -->
      <div class="row">
        <aside class="col-sm-0 col-md-2 col-lg-2 col-xl-2"></aside>
        <aside class="col-sm-12 col-md-8 col-lg-8 col-xl-8">
                <%= form_with model: @profile_edit, url: profile_path, local: true do |f| %>
                  <div class="form-group">
                    <h5 class="text-left"><%= f.label :ユーザー名 %></h5>
                    <%= f.text_field :name, class: 'form-control ml-20',value: "#{current_user.name}" %>
                  </div>
                  <div class="form-group">
                    <h5 class="text-left"><%= f.label :メールアドレス %></h5>
                    <%= f.email_field :email, class: 'form-control ml-20',value: "#{current_user.email}" %>
                  </div>
                  <div class="form-group">
                    <h5 class="text-left"><%= f.label :パスワード %></h5>
                    <%= f.password_field :password, class: 'form-control ml-20' %>
                  </div>
                  <div class="form-group">
                    <h5 class="text-left"><%= f.label :パスワード確認 %></h5>
                    <%= f.password_field :password_confirmation, class: 'form-control ml-20' %>
                  </div>
                  <div class="actions">
                    <%= f.submit '変更する', class: 'btn btn-warning btn-lg mt-20' %><br><br>
                  </div>
                  <%= link_to "キャンセル",profile_path, class: "btn btn-outline-warning btn-lg" %><br><br>
                  <%= link_to 'ユーザーを削除する', profile_path, class: 'btn btn-outline-danger btn-lg', method: :delete, data:{confirm:"本当に削除していいですか？"} %>
                <% end %>
        </aside>
        <aside class="col-sm-0 col-md-2 col-lg-2 col-xl-2"></aside>
      </div>
    </div>
  </body>
</html>