<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-LKBSFQGWRN"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-LKBSFQGWRN');
</script>
<header>
<div class='fixed-top'>
  <div class="header bottom-shadow">
    <table class="table">
      <tr>
        <td class="p-0"><h2 class="white pt-15 text-left pl-50">ホーム</h2></td>
      </tr>
    </table>
  </div>
  <input type="checkbox" class="openSidebarMenu" id="openSidebarMenu">
  <label for="openSidebarMenu" class="sidebarIconToggle">
    <div class="spinner diagonal part-1"></div>
    <div class="spinner horizontal"></div>
    <div class="spinner diagonal part-2"></div>
  </label>
  <div id="sidebarMenu">
    <ul class="sidebarMenuInner">
      <%= link_to profile_path do %><li class="text-left"><i class="fas fa-home fa-lg"></i> ホーム</li><% end %>
      <%= link_to months_path do %><li class="text-left"><i class="fas fa-donate fa-lg"></i> 家計簿一覧</li><% end %>
      <% if @authenticated_this_month.present? %>
        <%= link_to month_details_path(@authenticated_this_month.id) do %><li class="text-left"><i class="fas fa-list fa-lg"></i> 明細</li><% end %>
        <%= link_to reimbursement_month_details_path(@authenticated_this_month.id) do %><li class="text-left"><i class="fas fa-exchange-alt fa-lg"></i> 精算</li><% end %>
        <%= link_to month_budgets_path(@authenticated_this_month.id) do %><li class="text-left"><i class="fas fa-chart-pie fa-lg"></i> 分析</li><% end %>
        <%= link_to month_deposits_path(@authenticated_this_month.id) do %><li class="text-left"><i class="fas fa-donate fa-lg"></i> 入金</li><% end %>
      <% end %>
      <% if current_user.name == "ゲストユーザー" %>
        <%= link_to profile_path do %><li class="text-left"><i class="fas fa-user fa-lg"></i><%= " #{current_user.name}"  %></li><% end %>
      <% else %>
        <%= link_to edit_profile_path do %><li class="text-left"><i class="fas fa-user fa-lg"></i><%= " #{current_user.name}" %></li><% end %>
      <% end %>
      <%= link_to terms_of_service_path do %><li class="text-left"><i class="fas fa-file-alt fa-lg"></i> 利用規約</li><% end %>
      <%= link_to privacy_policy_path do %><li class="text-left"><i class="fas fa-file-alt fa-lg"></i> プライバシーポリシー</li><% end %>
      <%= link_to logout_path, method: :delete, data:{confirm:"ログアウトしますか？"} do %><li class="text-left"><i class="fas fa-sign-out-alt fa-lg"></i> ログアウト</li><% end %>
    </ul>
  </div>
</div>
</header>
<div class="container mt-70 mt-50 pb-20">
  <div class="row">
    <div class="col">
      <% if current_user.name == "ゲストユーザー" %>
        <div class="invite-resister">
          <p class="mb-5">閲覧中のデータはサンプルです</p>
          <%= link_to "ユーザー登録へ", invite_resiter_path, method: :delete %>
        </div>
      <% end %>
      <h2 class="display-xs-none"><%= "#{current_user.name}の家計簿" %></h2>
        <% if @month.present? %>
          <%= link_to month_details_path(@month.id) do %>
            <div class="white-box bottom-shadow btn-6">
              <table class="table">
                <tr>
                  <td class="p-0"><h5 class="text-left black"><%= @month.month.strftime("%-m月の家計簿") %></h5></td>
                  <td class="p-0 text-right"><h5 class="btn btn-outline-secondary btn-sm">明細を見る</h5></td>
                </tr>
              </table>
              <table class="text-center table lg">
                <tr>
                  <td class="gray text-left">口座残高</td>
                  <td class="gray text-right"><span class="fs-07">前月比</span>
                    <% if @month.balance < @month.balance_last %>
                      <span class="default-blue"><%= "+#{(@month.balance_last - @month.balance).to_s(:delimited)}円 " %></span>
                    <% elsif @month.balance == @month.balance_last %>
                      -
                    <% else %>
                      <span class="red"><%= "#{(@month.balance_last - @month.balance).to_s(:delimited)}円 " %><i class="fas fa-fire"></i></span>
                    <% end %>
                  </td>
                </tr>
                <tr class="fs-15 top">
                    <% if @month.balance_last.present? %>
                      <td colspan="2" class="top"><%= "#{@month.balance_last.to_s(:delimited) }円" %></td>
                    <% else %>
                      <td colspan="2" class="top"><%= "#{(@month.balance + @balance_of_payments).to_s(:delimited) }円" %></td>
                    <% end %>
                </tr>
              </table>
            </div>
          <% end %>
        <% else %>
          <%= link_to months_path do %>
            <div class="white-box bottom-shadow">
              <h5 class="text-left black">今月の家計簿</h5>
              <p class="gray">今月の家計簿が登録されていません</p>
            </div>
          <% end %>
        <% end %>
        
        <% if @detail.present? && @budget.present? %>
        <%= link_to month_budgets_path(@month.id) do %>
        <div class="white-box bottom-shadow">
        <table class="table">
          <tr>
            <td class="p-0"><h5 class="text-left black"><%= @month.month.strftime("%-m月の予算") %></h5></td>
            <td class="p-0 text-right"><h5 class="btn btn-outline-secondary btn-sm">分析を見る</h5></td>
          </tr>
        </table>
        <table class="text-center table table-light">
          <tr>
            <td class="text-left fs-15 bottom">合計</td>
            <td class="text-right fs-12 bottom">
              <% if @spending_total > @budget_total %>
                <span class="red"><%= "#{(@spending_total - @budget_total).to_s(:delimited)}円オーバー " %></span><i class="fas fa-fire fa-lg red fs-15"></i>
              <% else %> 
                <span class="default-blue"><%= "あと#{((@spending_total - @budget_total)* -1).to_s(:delimited)}円" %></span>
              <% end %>
            </td>
          </tr>
          <tr>
          <tr>
            <td colspan="2">
            <div class="progress">
              <% if @budget_total != 0 %>
                <div class="progress-bar progress-bar-striped bg-info" role="progressbar" style="<%= "width: #{@spending_total * 100 / @budget_total}%" %>" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"><%= "予算オーバー" if @spending_total > @budget_total %></div>
              <% else %>
                <div class="progress-bar progress-bar-striped bg-info" role="progressbar" style="width: 0%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
              <% end %>
            </div>
            </td> 
          </tr>
          <tr>
            <td class="text-left top"><%= "支出#{@spending_total.to_s(:delimited)}円" %></td>
            <td class="text-right top"><%= "#{@budget_total.to_s(:delimited)}円" %></td>
          </tr>
        </table>
        </div>
        <% end %>
        <% end %>
        
        <div class="box">
          <% if @detail.present? && @budget.present? %>
            <%= link_to month_budgets_path(@month.id) do %>
              <div class="white-box bottom-shadow pt-30 col-md-5 width">
                <table class="table">
                  <tr>
                    <td class="p-0"><h5 class="text-left black"><%= @month.month.strftime("%-m月の支出") %></h5></td>
                    <td class="p-0 text-right"><h5 class="btn btn-outline-secondary btn-sm">分析を見る</h5></td>
                  </tr>
                </table>
                <%= pie_chart @pie_chart,library: {title: {text: "支出<br> #{@spending_total.to_s(:delimited)}円"}} %>
              </div>
            <% end %>
          <% else %>
            <%= link_to months_path do %>
              <div class="white-box bottom-shadow pt-30 col-md-5 width">
                <h5 class="text-left black">今月の支出</h5>
                <p class="gray">今月はまだ支出がありません</p>
              </div>
            <% end %>
          <% end %>
          <%= link_to months_path do %>
            <div class="white-box bottom-shadow pt-30 col-md-6 width right">
              <table class="table">
                  <tr>
                    <td class="p-0"><h5 class="text-left black">口座残高</h5></td>
                    <td class="p-0 text-right"><h5 class="btn btn-outline-secondary btn-sm">残高を見る</h5></td>
                  </tr>
                </table>
              <% if @months.present? %>
                <% if @colum_chart_max > 10000 %>
                  <%= area_chart @column_chart.map { |month, balance_last| [month.strftime('%-m月'), balance_last / 10000] }, colors: ['#fdd07b'], suffix: "万" %>
                <% else %>
                  <%= area_chart @column_chart.map { |month, balance_last| [month.strftime('%-m月'), balance_last] }, colors: ['#fdd07b'], suffix: "円" %>
                <% end %>
              <% else %>
                <p class="gray">家計簿が登録されていません</p>
              <% end %>
            </div>
          <% end %> 
        </div>
        <% if @detail.present? && @not_yet_count != 0 %>
        <%= link_to reimbursement_month_details_path(@month.id) do %>
          <div class="stay white-box bottom-shadow">
            <table class="table">
              <tr>
                <td class="p-0"><h5 class="text-left black">立替精算</h5></td>
                <td class="p-0 text-right"><h5 class="btn btn-outline-secondary btn-sm">精算を見る</h5></td>
              </tr>
            </table>
            <table class="text-center table lg fs-15">
              <% @replayers.each do |replayer| %>
                <tr>
                  <td class="text-right">
                    <% if replayer.replayer == '旦那' %>
                      <i class="fas fa-user fa-lg default-blue"></i>
                    <% elsif replayer.replayer == '嫁' %>
                      <i class="fas fa-user fa-lg red"></i>
                    <% else %>
                      <%= replayer.replayer %>
                    <% end %>
                  </td>
                  <% if Detail.where(user_id: current_user.id, month_id: @month.id, replayer: replayer.replayer, status: :not_yet).where("date <= ?", Date.today).sum(:spending) - Detail.where(user_id: current_user.id, month_id: @month.id, replayer: replayer.replayer, status: :not_yet).where("date <= ?", Date.today).sum(:income) < 0 %>
                    <td class="text-left">共通財布に <span class="text-danger fs-15"><%= "#{((Detail.where(user_id: current_user.id, month_id: @month.id, replayer: replayer.replayer, status: :not_yet).where("date <= ?", Date.today).sum(:spending) - Detail.where(user_id: current_user.id, month_id: @month.id, replayer: replayer.replayer, status: :not_yet).where("date <= ?", Date.today).sum(:income))* -1).to_s(:delimited)}円" %></span> 払う</td>
                  <% else %>
                    <td class="text-left">共通財布から <span class="default-blue fs-15"><%= "#{(Detail.where(user_id: current_user.id, month_id: @month.id, replayer: replayer.replayer, status: :not_yet).where("date <= ?", Date.today).sum(:spending) - Detail.where(user_id: current_user.id, month_id: @month.id, replayer: replayer.replayer, status: :not_yet).where("date <= ?", Date.today).sum(:income)).to_s(:delimited)}円" %></span> もらう</td>
                  <% end %>
                </tr>
              <% end %>
            </table>
          </div>
        <% end %>
        <% end %> 
        <% if @deposit.present? %>
        <%= link_to month_deposits_path(@month.id) do %>
        <div class="stay white-box bottom-shadow">
          <table class="table">
            <tr>
              <td class="p-0"><h5 class="text-left black"><%= @month.month.strftime("%-m月の入金額") %></h5></td>
              <td class="p-0 text-right"><h5 class="btn btn-outline-secondary btn-sm">入金を見る</h5></td>
            </tr>
          </table>
          <table class="text-center table lg fs-15">
              <tr>
                <td class="text-right bottom"><i class="fas fa-user fa-lg default-blue"></i></td>
                <td class="text-left bottom">共通財布に <span class="fs-15"><%= "#{@man_deposit.to_s(:delimited)}円" %></span> 入金</td>
              </tr>
              <tr>
                <td colspan="2" class="gray top text-right fs-07 bottom">手元に残る額 <span class="fs-15 black"><%= "#{(@deposit.man_salary- @man_deposit).to_s(:delimited)}円" %></span></td>
              </tr>
              <tr>
                <td class="text-right bottom top"><i class="fas fa-user fa-lg red"></i></td>
                <td class="text-left bottom top">共通財布に <span class="fs-15"><%= "#{@woman_deposit.to_s(:delimited)}円" %></span> 入金</td>
              </tr>
              <tr>
                <td colspan="2" class="gray top text-right fs-07">手元に残る額 <span class="fs-15 black"><%= "#{(@deposit.woman_salary- @woman_deposit).to_s(:delimited)}円" %></span></td>
              </tr>
          </table>
        </div>
      <% end %> 
      <% end %> 
    </div>
  </div>
</div>
