<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-LKBSFQGWRN"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-LKBSFQGWRN');
</script>
<div class="container mt-70">
  <div class="row">
    <div class="col-sm-12">
      <h2 class="border-bottom">
        入金調整
      </h2>
      <%= form_with model: @detail, local: true do |f| %>
          <div class="form-group">
            <div class="w-200 text-left">
            <%= f.label :調整理由 %>
            <%= f.text_field :name, class: 'form-control form-control-lg' %>
            </div>
          </div>
          <br>
          <div class="form-group">
            <div class="w-200 text-left">
              <%= f.label :対象者 %>
              <%= f.select :player,[["旦那さん", "旦那"], ["奥さん", "嫁"]],{ include_blank: '対象者'}, class: 'form-control form-control-lg' %>
            </div>
          </div><br>
          <div class="form-group">
            <div class="w-200 text-left">
              <%= f.label :金額 %>
              <%= f.number_field :amount, class: 'form-control form-control-lg', placeholder: '' %>
            </div>
          </div><br>
          <div class="form-group">
            <div class="w-200 text-left">
              <%= f.label :調整率 %>
              <%= f.number_field :rate, class: 'form-control form-control-lg', placeholder: '' %>
            <p>※補正率は未入力の場合は「100(%)」となります。</p>
            </div>
          </div><br>
          <div class="block-center">
          <%= link_to "キャンセル　" ,month_deposits_path(@deposit.month_id) ,class:"inline-block" %>
          <div class="actions inline-block">
            <%= f.submit '追加', class: 'btn btn-warning' %>
          </div>
          </div>
      <% end %>
      
    </div>
  </div>
</div>
