<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-LKBSFQGWRN"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-LKBSFQGWRN');
</script>
<div class="container">
  <div class="row">
    <div class="col">
    <h2 class="border-bottom">分析<span class="gray fs-07"><%= @month.month.strftime(" %Y年%-m月 ") %></span></h2>
    <% if @budget %>
      <div class="box">
        <div class="white-box bottom-shadow col-md-5 width">
          <h5 class="text-left black">支出の内訳</h5>
          <%= pie_chart @pie_chart,library: {title: {text: "支出<br> #{@spending_total.to_s(:delimited)}円"}} %>
        </div>
      
      <div class="white-box bottom-shadow col-md-6 width right">
      <h5 class="text-left black">
        あといくら残ってる？
      </h5>
      <table class="text-center table table-light">
          <tr>
            <td class="text-left fs-15">合計</td>
            <td class="text-right fs-12">
              <% if @spending_total > @budget_total %>
                <span class="red"><%= "#{(@spending_total - @budget_total).to_s(:delimited)}円オーバー " %></span><i class="fas fa-fire fa-lg red fs-15"></i>
              <% else %> 
                <span><%= "あと#{((@spending_total - @budget_total)* -1).to_s(:delimited)}円" %></span>
              <% end %>
            </td>
          </tr>
          <tr>
          <tr>
            <td colspan="2">
            <div class="progress">
              <% if @budget_total != 0 %>
                <div class="progress-bar progress-bar-striped bg-info" role="progressbar" style="<%= "width: #{@spending_total * 100 / @budget_total}%" %>" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"><%= "予算オーバー" if @spending_total > @budget_total %></div>
              <% else %>
                <div class="progress-bar progress-bar-striped bg-info" role="progressbar" style="width: 0%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
              <% end %>
            </div>
            </td> 
          </tr>
          <tr>
            <td class="text-left top"><%= "支出#{@spending_total.to_s(:delimited)}円" %></td>
            <td class="text-right top"><%= "#{@budget_total.to_s(:delimited)}円" %></td>
          </tr>
        </table>
      <br>
      <h5 class="text-left black">
        費用別
      </h5>
    <table class="text-center table table-light">
      <tr>
        <td class="text-left fs-15"><i class="fas fa-home fa-lg red"></i> 家賃</td>
        <td class="text-right fs-12">
          <% if @spending_rent > @budget.rent %>
            <span class="red"><%= "#{(@spending_rent - @budget.rent).to_s(:delimited)}円オーバー " %></span><i class="fas fa-fire fa-lg red fs-15"></i>
          <% else %> 
            <span><%= "あと#{((@spending_rent - @budget.rent)* -1).to_s(:delimited)}円" %></span>
          <% end %>
        </td>
      </tr>
      <tr>
        <td colspan="2">
        <div class="progress">
          <% if @budget.rent != 0 %>
            <div class="progress-bar bg-danger" role="progressbar" style="<%= "width: #{@spending_rent * 100 / @budget.rent}%" %>" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
          <% else %>
             <div class="progress-bar bg-danger" role="progressbar" style="width: 0%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
          <% end %>
        </div>
        </td> 
      </tr>
      <tr>
        <td class="text-left top"><%= "支出#{@spending_rent.to_s(:delimited)}円" %></td>
        <td class="text-right top"><%= "#{@budget.rent.to_s(:delimited)}円" %></td>
      </tr>

      <tr>
        <td class="text-left fs-15 border-top border-dark-top"><i class="fas fa-faucet fa-lg blue"></i> 生活費</td>
        <td class="text-right fs-12 border-top border-dark-top">
          <% if @spending_life > @budget.life%>
            <span class="red"><%= "#{(@spending_life - @budget.life).to_s(:delimited)}円オーバー " %></span><i class="fas fa-fire fa-lg red fs-15"></i>
          <% else %> 
            <span><%= "あと#{((@spending_life - @budget.life)* -1).to_s(:delimited)}円" %></span>
          <% end %>
        </td>
      </tr>
      <tr>
        <td colspan="2">
        <div class="progress">
          <% if @budget.life != 0 %>
            <div class="progress-bar bg-primary" role="progressbar" style="<%= "width: #{@spending_life * 100 / @budget.life}%" %>" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
          <% else %>
             <div class="progress-bar bg-primary" role="progressbar" style="width: 0%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
          <% end %>
        </div>
        </td> 
      </tr>
      <tr>
        <td class="text-left top"><%= "支出#{@spending_life.to_s(:delimited)}円" %></td>
        <td class="text-right top"><%= "#{@budget.life.to_s(:delimited)}円" %></td>
      </tr>

      <tr>
        <td class="text-left fs-15 border-top border-dark-top"><i class="fas fa-utensils fa-lg yellow"></i> 食費</td>
        <td class="text-right fs-12 border-top border-dark-top">
          <% if @spending_food > @budget.food %>
            <span class="red"><%= "#{(@spending_food - @budget.food).to_s(:delimited)}円オーバー " %></span><i class="fas fa-fire fa-lg red fs-15"></i>
          <% else %> 
            <span><%= "あと#{((@spending_food - @budget.food)* -1).to_s(:delimited)}円" %></span>
          <% end %>
        </td>
      </tr>
      <tr>
        <td colspan="2">
        <div class="progress">
          <% if @budget.food != 0 %>
            <div class="progress-bar bg-warning" role="progressbar" style="<%= "width: #{@spending_food * 100 / @budget.food}%" %>" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
          <% else %>
             <div class="progress-bar bg-warning" role="progressbar" style="width: 0%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
          <% end %>
        </div>
        </td> 
      </tr>
      <tr class="fs-12">
        <% if @spending_food > @budget.food %>
          <td class="text-left top"><%= "支出#{@spending_food.to_s(:delimited)}円" %><span class="red"><%= "　+#{(@spending_food - @budget.food).to_s(:delimited)}円" %></span></td>
        <% else %> 
          <td class="text-left top"><%= "支出#{@spending_food.to_s(:delimited)}円" %></td>
        <% end %>
        <td class="text-right top"><%= "#{@budget.food.to_s(:delimited)}円" %></td>
      </tr>

      <tr>
        <td class="text-left fs-15 border-top border-dark-top"><i class="fas fa-glass-cheers fa-lg green"></i> 交際費</td>
        <td class="text-right fs-12 border-top border-dark-top">
          <% if @spending_enjoy > @budget.enjoy %>
            <span class="red"><%= "#{(@spending_enjoy - @budget.enjoy).to_s(:delimited)}円オーバー " %></span><i class="fas fa-fire fa-lg red fs-15"></i>
          <% else %> 
            <span><%= "あと#{((@spending_enjoy - @budget.enjoy)* -1).to_s(:delimited)}円" %></span>
          <% end %>
        </td>
      </tr>
      <tr>
        <td colspan="2">
        <div class="progress">
          <% if @budget.enjoy != 0 %>
            <div class="progress-bar bg-success" role="progressbar" style="<%= "width: #{@spending_enjoy * 100 / @budget.enjoy}%" %>" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
          <% else %>
             <div class="progress-bar bg-success" role="progressbar" style="width: 0%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
          <% end %>
        </div>
        </td> 
      </tr>
      <tr>
        <td class="text-left top"><%= "支出#{@spending_enjoy.to_s(:delimited)}円" %></td>
        <td class="text-right top"><%= "#{@budget.enjoy.to_s(:delimited)}円" %></td>
      </tr>

      <tr>
        <td class="text-left fs-15 border-top border-dark-top"><i class="far fa-question-circle fa-lg"></i> その他</td>
        <td class="text-right fs-12 border-top border-dark-top">
          <% if @spending_other > @budget.other %>
            <span class="red"><%= "#{(@spending_other - @budget.other).to_s(:delimited)}円オーバー " %></span><i class="fas fa-fire fa-lg red fs-15"></i>
          <% else %> 
            <span><%= "あと#{((@spending_other - @budget.other)* -1).to_s(:delimited)}円" %></span>
          <% end %>
        </td>
      </tr>
      <tr>
        <td colspan="2">
        <div class="progress">
          <% if @budget.other != 0 %>
            <div class="progress-bar bg-white border-gray" role="progressbar" style="<%= "width: #{@spending_other * 100 / @budget.other}%" %>" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
          <% else %>
             <div class="progress-bar bg-white border-gray" role="progressbar" style="width: 0%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
          <% end %>
        </div>
        </td> 
      </tr>
      <tr>
        <td class="text-left top"><%= "支出#{@spending_other.to_s(:delimited)}円" %></td>
        <td class="text-right top"><%= "#{@budget.other.to_s(:delimited)}円" %></td>
      </tr>
    </table>
    <%= link_to "予算を再設定する", budget_path(@budget), method: :delete, data:{confirm:"予算を再設定しますか？"}, class: 'btn btn-outline-secondary' %>
    </div>
    <% else %>
      <ul class="list-inline">
        ※予算を設定して下さい
        <%= form_with model: @add, local: true do |f| %>
          <div class="form-group text-left">
            <%= f.label :家賃 %>
            <%= f.number_field :rent, class: 'form-control form-control-lg' %>
          </div>
          <div class="form-group text-left">
            <%= f.label :生活費 %>
            <%= f.number_field :life, class: 'form-control form-control-lg' %>
          </div>
          <div class="form-group text-left">
            <%= f.label :食費 %>
            <%= f.number_field :food, class: 'form-control form-control-lg' %>
          </div>
          <div class="form-group text-left">
            <%= f.label :交際費 %>
            <%= f.number_field :enjoy, class: 'form-control form-control-lg' %>
          </div>
          <div class="form-group text-left">
            <%= f.label :その他 %>
            <%= f.number_field :other, class: 'form-control form-control-lg' %>
          </div>
          <%= f.submit '設定', class: 'btn btn-warning' %>
        <% end %>
      </ul>
    <% end %>
    </div>
  </div>
  </div>
</div>
<footer class="switch_footer">
  <div class="switch top-shadow">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col prl-5">
          <%= link_to month_details_path do %>
            <i class="fas fa-list fa-lg"></i><br><div class="negative-margin"><span class="font-size">明細</span></div>
          <% end %>
        </div>
        <div class="col prl-5">
          <%= link_to reimbursement_month_details_path do %>
            <i class="fas fa-exchange-alt fa-lg"></i><br><div class="negative-margin"><span class="font-size">精算</span></div>
          <% end %>
        </div>
        <div class="col prl-5">
          <%= link_to month_budgets_path do %>
            <i class="fas fa-chart-pie fa-lg orange"></i><br><div class="negative-margin"><span class="font-size orange">分析</span></div>
          <% end %>
        </div>
        <div class="col prl-5">
          <%= link_to month_deposits_path do %>
            <i class="fas fa-donate fa-lg"></i><br><div class="negative-margin"><span class="font-size">入金</span></div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <div class="information-footer stay">
  <span class="white">© 2021 Common Wallet　</span>
    <%= link_to '利用規約',terms_of_service_path,:style=>"color:#FFFFFF;" %>
    <span class="white"> / </span>
    <%= link_to 'プライバシーポリシー', privacy_policy_path,:style=>"color:#FFFFFF;" %>
  </div>
</footer>