<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-LKBSFQGWRN"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-LKBSFQGWRN');
</script>
<header>
<div class='fixed-top'>
  <div class="header bottom-shadow">
    <table class="table">
      <tr>
        <td class="p-0"><h2 class="pt-15 text-left pl-50">分析</h2></td>
        <td class="p-0"><h2 class="text-right pt-15 pr-20"><span class="fs-07"><%= @month.month.strftime(" %Y年%-m月 ") %></span></h2></td>
      </tr>
    </table>
  </div>
  <input type="checkbox" class="openSidebarMenu" id="openSidebarMenu">
  <label for="openSidebarMenu" class="sidebarIconToggle">
    <div class="spinner diagonal part-1"></div>
    <div class="spinner horizontal"></div>
    <div class="spinner diagonal part-2"></div>
  </label>
  <div id="sidebarMenu">
    <ul class="sidebarMenuInner">
      <%= link_to profile_path do %><li class="text-left"><i class="fas fa-home fa-lg"></i>　ホーム</li><% end %>
      <%= link_to months_path do %><li class="text-left"><i class="fas fa-chart-bar fa-lg"></i>　家計簿一覧</li><% end %>
      <% if @authenticated_this_month.present? %>
        <%= link_to month_details_path(@authenticated_this_month.id) do %><li class="text-left"><i class="fas fa-receipt fa-lg"></i>　明細</li><% end %>
        <%= link_to reimbursement_month_details_path(@authenticated_this_month.id) do %><li class="text-left"><i class="fas fa-cash-register fa-lg"></i>　精算</li><% end %>
        <%= link_to month_budgets_path(@authenticated_this_month.id) do %><li class="text-left"><i class="fas fa-chart-pie fa-lg"></i>　分析</li><% end %>
        <%= link_to month_deposits_path(@authenticated_this_month.id) do %><li class="text-left"><i class="fas fa-piggy-bank fa-lg"></i>　入金</li><% end %>
      <% end %>
      <% if current_user.name == "ゲストユーザー" %>
        <%= link_to profile_path do %><li class="text-left"><i class="fas fa-user fa-lg"></i><%= "　#{current_user.name}"  %></li><% end %>
      <% else %>
        <%= link_to edit_profile_path do %><li class="text-left"><i class="fas fa-user fa-lg"></i><%= "　#{current_user.name}" %></li><% end %>
      <% end %>
      <%= link_to terms_of_service_path do %><li class="text-left"><i class="fas fa-file-alt fa-lg"></i>　利用規約</li><% end %>
      <%= link_to privacy_policy_path do %><li class="text-left"><i class="fas fa-file-alt fa-lg"></i>　プライバシーポリシー</li><% end %>
      <%= link_to logout_path, method: :delete, data:{confirm:"ログアウトしますか？"} do %><li class="text-left"><i class="fas fa-sign-out-alt fa-lg"></i>　ログアウト</li><% end %>
    </ul>
  </div>
</div>
</header>
<% if @budget %>
<div class="container">
  <div class="row">
    <div class="col">
      <% if current_user.name == "ゲストユーザー" %>
        <div class="invite-resister">
          <p class="mb-5">閲覧中のデータはサンプルです</p>
          <%= link_to "ユーザー登録へ", invite_resiter_path, method: :delete %>
        </div>
      <% end %>
      <div class="box">
        <div class="white-box col-md-5 width">
          <h5 class="text-left black fs-11 pl-5">支出の内訳</h5>
          <div class="df row">
            <div class="col-8 pr-0 pl-0">
            <%= pie_chart @pie_chart,library: {title: {text: "支出<br> #{@spending_total.to_s(:delimited)}円", style: {fontSize: '12px'}}} %>
            </div> 
            <div class="col-4 d-flex align-items-center p-0">
            <table>
              <tr class="text-left black fs-11">
                <td><span class="red">■ </span></td>
                <td class="text-right"><%= "#{@spending_rent.to_s(:delimited) }円" %></td>
              </tr>
              <tr class="text-left black fs-11">
                <td><span class="blue">■ </span></td>
                <td class="text-right"><%= "#{@spending_life.to_s(:delimited) }円" %></td>
              </tr>
              <tr class="text-left black fs-11">
                <td><span class="yellow">■ </span></td>
                <td class="text-right"><%= "#{@spending_food.to_s(:delimited) }円" %></td>
              </tr>
              <tr class="text-left black fs-11">
                <td><span class="green">■ </span></td>
                <td class="text-right"><%= "#{@spending_enjoy.to_s(:delimited) }円" %></td>
              </tr>
              <tr class="text-left black fs-11">
                <td><span class="brown">■ </span></td>
                <td class="text-right"><%= "#{@spending_other.to_s(:delimited) }円" %></td>
              </tr>
            </table>
            </div> 
          </div>
        </div>
      <div class="white-box col-md-6 width right">
      <table class="table">
        <tr>
          <td class="p-0 pl-5"><h5 class="text-left black fs-11">予算比</h5></td>
          <td class="p-0 text-right"><%= link_to "予算再設定", budget_path(@budget), method: :delete, data:{confirm:"予算を再設定しますか？"}, class: 'btn btn-outline-secondary btn-sm radius' %></td>
        </tr>
      </table>
      <table class="text-center table table-light">
          <tr>
            <td class="text-left fs-11">全体</td>
            <td class="text-right fs-11 bottom" width="170">
              <% if @spending_total > @budget_total %>
                <span class="red"><%= "#{(@spending_total - @budget_total).to_s(:delimited)}円オーバー " %></span><i class="fas fa-fire red"></i>
              <% else %> 
                <span class="gray">残り </span><%= "#{((@spending_total - @budget_total)* -1).to_s(:delimited)}円" %>
              <% end %>
            </td>
          </tr>
          <tr>
          <tr>
            <td colspan="2" class="top bottom">
            <div class="progress">
              <% if @budget_total != 0 %>
                <div class="progress-bar progress-bar-striped bg-info" role="progressbar" style="<%= "width: #{@spending_total * 100 / @budget_total}%" %>" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"><%= "予算オーバー" if @spending_total > @budget_total %></div>
              <% else %>
                <div class="progress-bar progress-bar-striped bg-info" role="progressbar" style="width: 0%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
              <% end %>
            </div>
            </td> 
          </tr>
          <tr>
            <td class="text-left top"><span class="gray">支出 </span><%= "#{@spending_total.to_s(:delimited)}円" %></td>
            <td class="text-right top"><span class="gray">予算 </span><%= "#{@budget_total.to_s(:delimited)}円" %></td>
          </tr>
        </table>
        </div>
    <div class="white-box col-md-6 width right">
    <h5 class="text-left black fs-11 pl-5">項目別</h5>
    <table class="text-center table table-light">
      <tr>
        <td class="text-left fs-11"><i class="fas fa-home fa-lg red"></i> 家賃</td>
        <td class="text-right fs-11 bottom">
          <% if @spending_rent > @budget.rent %>
            <span class="red"><%= "#{(@spending_rent - @budget.rent).to_s(:delimited)}円オーバー " %></span><i class="fas fa-fire red"></i>
          <% else %> 
            <span class="gray">残り </span><%= "#{((@spending_rent - @budget.rent)* -1).to_s(:delimited)}円" %>
          <% end %>
        </td>
      </tr>
      <tr>
        <td colspan="2" class="top bottom">
        <div class="progress">
          <% if @budget.rent != 0 %>
            <div class="progress-bar bg-danger" role="progressbar" style="<%= "width: #{@spending_rent * 100 / @budget.rent}%" %>" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"><%= "予算オーバー" if @spending_rent > @budget.rent %></div>
          <% else %>
             <div class="progress-bar bg-danger" role="progressbar" style="width: 0%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
          <% end %>
        </div>
        </td> 
      </tr>
      <tr>
        <td class="text-left top"><span class="gray">支出 </span><%= "#{@spending_rent.to_s(:delimited)}円" %></td>
        <td class="text-right top"><span class="gray">予算 </span><%= "#{@budget.rent.to_s(:delimited)}円" %></td>
      </tr>

      <tr>
        <td class="text-left fs-11 border-top border-dark-top"><i class="fas fa-faucet fa-lg blue"></i> 生活費</td>
        <td class="text-right border-top border-dark-top fs-11 bottom">
          <% if @spending_life > @budget.life%>
            <span class="red"><%= "#{(@spending_life - @budget.life).to_s(:delimited)}円オーバー " %></span><i class="fas fa-fire red"></i>
          <% else %> 
            <span class="gray">残り </span><%= "#{((@spending_life - @budget.life)* -1).to_s(:delimited)}円" %>
          <% end %>
        </td>
      </tr>
      <tr>
        <td colspan="2" class="top bottom">
        <div class="progress">
          <% if @budget.life != 0 %>
            <div class="progress-bar bg-primary" role="progressbar" style="<%= "width: #{@spending_life * 100 / @budget.life}%" %>" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"><%= "予算オーバー" if @spending_life > @budget.life %></div>
          <% else %>
             <div class="progress-bar bg-primary" role="progressbar" style="width: 0%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
          <% end %>
        </div>
        </td> 
      </tr>
      <tr>
        <td class="text-left top"><span class="gray">支出 </span><%= "#{@spending_life.to_s(:delimited)}円" %></td>
        <td class="text-right top"><span class="gray">予算 </span><%= "#{@budget.life.to_s(:delimited)}円" %></td>
      </tr>

      <tr>
        <td class="text-left fs-11 border-top border-dark-top"><i class="fas fa-utensils fa-lg yellow"></i> 食費</td>
        <td class="text-right border-top border-dark-top fs-11 bottom">
          <% if @spending_food > @budget.food %>
            <span class="red"><%= "#{(@spending_food - @budget.food).to_s(:delimited)}円オーバー " %></span><i class="fas fa-fire red"></i>
          <% else %> 
            <span class="gray">残り </span><%= "#{((@spending_food - @budget.food)* -1).to_s(:delimited)}円" %>
          <% end %>
        </td>
      </tr>
      <tr>
        <td colspan="2" class="top bottom">
        <div class="progress">
          <% if @budget.food != 0 %>
            <div class="progress-bar bg-warning" role="progressbar" style="<%= "width: #{@spending_food * 100 / @budget.food}%" %>" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"><%= "予算オーバー" if @spending_food > @budget.food %></div>
          <% else %>
             <div class="progress-bar bg-warning" role="progressbar" style="width: 0%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
          <% end %>
        </div>
        </td> 
      </tr>
      <tr>
        <td class="text-left top"><span class="gray">支出 </span><%= "#{@spending_food.to_s(:delimited)}円" %></td>
        <td class="text-right top"><span class="gray">予算 </span><%= "#{@budget.food.to_s(:delimited)}円" %></td>
      </tr>

      <tr>
        <td class="text-left fs-11 border-top border-dark-top"><i class="fas fa-glass-cheers fa-lg green"></i> 交際費</td>
        <td class="text-right border-top border-dark-top fs-11 bottom">
          <% if @spending_enjoy > @budget.enjoy %>
            <span class="red"><%= "#{(@spending_enjoy - @budget.enjoy).to_s(:delimited)}円オーバー " %></span><i class="fas fa-fire red"></i>
          <% else %> 
            <span class="gray">残り </span><%= "#{((@spending_enjoy - @budget.enjoy)* -1).to_s(:delimited)}円" %>
          <% end %>
        </td>
      </tr>
      <tr>
        <td colspan="2" class="top bottom">
        <div class="progress">
          <% if @budget.enjoy != 0 %>
            <div class="progress-bar bg-success" role="progressbar" style="<%= "width: #{@spending_enjoy * 100 / @budget.enjoy}%" %>" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"><%= "予算オーバー" if @spending_enjoy > @budget.enjoy %></div>
          <% else %>
             <div class="progress-bar bg-success" role="progressbar" style="width: 0%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
          <% end %>
        </div>
        </td> 
      </tr>
      <tr>
        <td class="text-left top"><span class="gray">支出 </span><%= "#{@spending_enjoy.to_s(:delimited)}円" %></td>
        <td class="text-right top"><span class="gray">予算 </span><%= "#{@budget.enjoy.to_s(:delimited)}円" %></td>
      </tr>

      <tr>
        <td class="text-left fs-11 border-top border-dark-top"><i class="fas fa-paw fa-lg brown"></i> その他</td>
        <td class="text-right border-top border-dark-top fs-11 bottom">
          <% if @spending_other > @budget.other %>
            <span class="red"><%= "#{(@spending_other - @budget.other).to_s(:delimited)}円オーバー " %></span><i class="fas fa-fire red"></i>
          <% else %> 
            <span class="gray">残り </span><%= "#{((@spending_other - @budget.other)* -1).to_s(:delimited)}円" %>
          <% end %>
        </td>
      </tr>
      <tr>
        <td colspan="2" class="top bottom">
        <div class="progress">
          <% if @budget.other != 0 %>
            <div class="progress-bar bg-secondary" role="progressbar" style="<%= "width: #{@spending_other * 100 / @budget.other}%" %>" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"><%= "予算オーバー" if @spending_other > @budget.other %></div>
          <% else %>
            <div class="progress-bar bg-secondary" role="progressbar" style="width: 0%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
          <% end %>
        </div>
        </td> 
      </tr>
      <tr>
        <td class="text-left top"><span class="gray">支出 </span><%= "#{@spending_other.to_s(:delimited)}円" %></td>
        <td class="text-right top"><span class="gray">予算 </span><%= "#{@budget.other.to_s(:delimited)}円" %></td>
      </tr>
    </table>
    </div>
    </div>
  </div>
  </div>
</div>
<% else %>
      <% if current_user.name == "ゲストユーザー" %>
        <div class="invite-resister">
          <p class="mb-5">閲覧中のデータはサンプルです</p>
          <%= link_to "ユーザー登録へ", invite_resiter_path, method: :delete %>
        </div>
      <% end %>
<body class="bgc-white">
<div class="container pt-15">
  <div class="row">
    <div class="col">
    <p class="orange">予算を設定してください</p>
  <ul class="list-inline">
    <%= form_with model: @add, local: true do |f| %>
      <div class="text-right">
        <p><span class="gray fs-09">先月の予算:</span><%= @last_budget ? @last_budget.rent.to_s(:delimited) : "-" %> 円　<span class="gray fs-09">支出:</span><%= @last_spending_rent ? @last_spending_rent.to_s(:delimited) : "-" %> 円</p>
      </div>
      <div class="form-group text-left">
        <%= f.number_field :rent, class: 'form-control form-control-lg', placeholder: "家賃：- 円" %>
      </div>
      <div class="text-right">
        <p><span class="gray fs-09">先月の予算:</span><%= @last_budget ? @last_budget.life.to_s(:delimited) : "-" %> 円　<span class="gray fs-09">支出:</span><%= @last_spending_life ? @last_spending_life.to_s(:delimited) : "-" %> 円</p>
      </div>
      <div class="form-group text-left">
        <%= f.number_field :life, class: 'form-control form-control-lg', placeholder: "生活費：- 円" %>
      </div>
      <div class="text-right">
        <p><span class="gray fs-09">先月の予算:</span><%= @last_budget ? @last_budget.food.to_s(:delimited) : "-" %> 円　<span class="gray fs-09">支出:</span><%= @last_spending_food ? @last_spending_food.to_s(:delimited) : "-" %> 円</p>
      </div>
      <div class="form-group text-left">
        <%= f.number_field :food, class: 'form-control form-control-lg', placeholder: "食費：- 円" %>
      </div>
      <div class="text-right">
        <p><span class="gray fs-09">先月の予算:</span><%= @last_budget ? @last_budget.enjoy.to_s(:delimited) : "-" %> 円　<span class="gray fs-09">支出:</span><%= @last_spending_enjoy ? @last_spending_enjoy.to_s(:delimited) : "-" %> 円</p>
      </div>
      <div class="form-group text-left">
        <%= f.number_field :enjoy, class: 'form-control form-control-lg', placeholder: "交際費：- 円" %>
      </div>
      <div class="text-right">
        <p><span class="gray fs-09">先月の予算:</span><%= @last_budget ? @last_budget.other.to_s(:delimited) : "-" %> 円　<span class="gray fs-09">支出:</span><%= @last_spending_other ? @last_spending_other.to_s(:delimited) : "-" %> 円</p>
      </div>
      <div class="form-group text-left">
        <%= f.number_field :other, class: 'form-control form-control-lg', placeholder: "その他：- 円" %>
      </div><br>
      <%= f.submit '設定', class: 'btn btn-warning btn-lg' %>
    <% end %>
  </ul>
<% end %>
  </div>
  </div>
</div>
</body>
<footer class="switch_footer">
  <div class="switch top-shadow d-flex align-items-center">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col prl-5">
          <%= link_to profile_path do %>
            <i class="fas fa-home fa-lg"></i><br><div class="negative-margin"><span class="font-size">ホーム</span></div>
          <% end %>
        </div>
        <div class="col prl-5">
          <%= link_to month_details_path do %>
            <i class="fas fa-receipt fa-lg"></i><br><div class="negative-margin"><span class="font-size">明細</span></div>
          <% end %>
        </div>
        <div class="col prl-5">
          <%= link_to reimbursement_month_details_path do %>
            <i class="fas fa-cash-register fa-lg"></i><br><div class="negative-margin"><span class="font-size">精算</span></div>
          <% end %>
        </div>
        <div class="col prl-5">
          <%= link_to month_budgets_path do %>
            <i class="fas fa-chart-pie fa-lg yellow fs-15"></i><br><div class="negative-margin"><span class="font-size yellow">分析</span></div>
          <% end %>
        </div>
        <div class="col prl-5">
          <%= link_to month_deposits_path do %>
            <i class="fas fa-piggy-bank fa-lg"></i><br><div class="negative-margin"><span class="font-size">入金</span></div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</footer>