<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-LKBSFQGWRN"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-LKBSFQGWRN');
</script>
<div class="container">
  <div class="row">
    <div class="col-md-10 offset-md-1 col-lg-8 offset-lg-2">
      <h2 class="border-bottom">新規登録</h2>
      <%= form_with model: @user, local: true do |f| %>
          <div class="form-group">
            <%= f.label :ユーザー名 %>
            <%= f.text_field :name, class: 'form-control' %>
          </div>
          <div class="form-group">
            <%= f.label :メールアドレス %>
            <%= f.email_field :email, class: 'form-control' %>
          </div>
          <div class="form-group">
            <%= f.label :パスワード %>
            <%= f.password_field :password, class: 'form-control' %>
          </div>
          <div class="form-group">
            <%= f.label :パスワード確認 %>
            <%= f.password_field :password_confirmation, class: 'form-control' %>
          </div>
          <div class="actions">
            <%= f.submit '登録', class: 'btn btn-outline-primary btn-sm' %>
          </div>
      <% end %>
      <div class='text-center'>
        <%= link_to 'ログインはこちら', login_path %>
      </div>
    </div>
  </div>
</div>