
<header>
<div class='fixed-top bottom-shadow'>
  <div class="header"></div>
  <input type="checkbox" class="openSidebarMenu" id="openSidebarMenu">
  <label for="openSidebarMenu" class="sidebarIconToggle">
    <div class="spinner diagonal part-1"></div>
    <div class="spinner horizontal"></div>
    <div class="spinner diagonal part-2"></div>
  </label>
  <div id="sidebarMenu">
    <ul class="sidebarMenuInner">
      <li class="text-left"><%= link_to 'トップ', root_path %></li>
      <li class="text-left"><%= link_to 'ログイン', login_path %></li>
      <li class="text-left"><%= link_to '新規登録', new_user_path %></li>
      <li class="text-left"><%= link_to "利用規約", terms_of_service_path %></li>
      <li class="text-left"><%= link_to "プライバシーポリシー", privacy_policy_path %></li>
    </ul>
  </div>
</div>
</header>