
<header>
<div class='fixed-top'>
  <div class="header bottom-shadow"></div>
  <input type="checkbox" class="openSidebarMenu" id="openSidebarMenu">
  <label for="openSidebarMenu" class="sidebarIconToggle">
    <div class="spinner diagonal part-1"></div>
    <div class="spinner horizontal"></div>
    <div class="spinner diagonal part-2"></div>
  </label>
  <div id="sidebarMenu">
    <ul class="sidebarMenuInner">
      <%= link_to root_path do %><li class="text-left">トップ</li><% end %>
      <%= link_to login_path do %><li class="text-left">ログイン</li><% end %>
      <%= link_to new_user_path do %><li class="text-left">新規登録</li><% end %>
      <%= link_to terms_of_service_path do %><li class="text-left">利用規約</li><% end %>
      <%= link_to privacy_policy_path do %><li class="text-left">プライバシーポリシー</li><% end %>
    </ul>
  </div>
</div>
</header>