<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-LKBSFQGWRN"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-LKBSFQGWRN');
</script>
<div class="container">
  <div class="row">
<div class="col">
  <h2 class="border-bottom">入金</h2>
  <%= link_to '戻る', month_details_path  %>
  <% if @deposit %>
  <%= link_to "再設定", deposit_path(@deposit), method: :delete, data:{confirm:"基本条件を再設定しますか？"} %>
  <table class="text-center table table-hover table-striped">
    <tr class="table-warning">
      <th></th>
      <th>旦那</th>
      <th>嫁</th>
    </tr>
    <tr class="table-light">
      <td>給料</td>
      <td><%= "#{@deposit.man_salary.to_s(:delimited)}円" %></td>
      <td><%= "#{@deposit.woman_salary.to_s(:delimited)}円" %></td>
    </tr>
    <tr class="table-light">
      <td>補正額</td>
      <td><%= "#{@correct_total_man.to_s(:delimited)}円" %></td>
      <td><%= "#{@correct_total_woman.to_s(:delimited)}円" %></td>
    </tr>
    <tr class="table-light">
      <td>合計入金額</td>
      <td><%= "#{@deposit.total_deposit.to_s(:delimited)}円" %></td>
      <td></td>
    </tr>
  </table>
  <table class="text-center table table-hover table-striped">
    <tr class="table-warning">
      <th></th>
      <th>旦那</th>
      <th>嫁</th>
      <th>合計</th>
    </tr>
    <tr class="table-light">
      <td>入金額</td>
      <td><%= "#{@man_deposit.to_s(:delimited)}円" %></td>
      <td><%= "#{@woman_deposit.to_s(:delimited)}円" %></td>
      <td><%= "#{(@man_deposit + @woman_deposit).to_s(:delimited)}円" %></td>
    </tr>
    <tr class="table-light">
      <td>可処分所得</td>
      <td><%= "#{@disposable_income_man.to_s(:delimited)}円" %></td>
      <td><%= "#{@disposable_income_woman.to_s(:delimited)}円" %></td>
      <td><%= "#{(@disposable_income_man + @disposable_income_woman).to_s(:delimited)}円" %></td>
    </tr>
  </table>
  <%= link_to '補正する', deposit_corrects_path(@deposit)  %>
  <% else %>
  <ul class="list-inline">
    ※条件を設定して下さい
    <%= form_with model: @add, local: true do |f| %>
        <div class="form-inline">
          <%= f.number_field :total_deposit, class: 'form-control', placeholder: '合計入金額' %>
          <%= f.number_field :man_salary, class: 'form-control', placeholder: '旦那給料' %>
          <%= f.number_field :woman_salary, class: 'form-control', placeholder: '嫁給料' %>
          <%= f.submit '設定', class: 'btn btn-outline-warning btn-sm' %>
        </div>
    <% end %>
  </ul>
<% end %>
</div>
</div>
</div>