<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-LKBSFQGWRN"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-LKBSFQGWRN');
</script>
<div class="container">
  <div class="row">
    <div class="col">
      <h2 class="border-bottom">入金<span class="gray fs-07"><%= @month.month.strftime(" %Y年%-m月 ") %></span></></h2>
      <% if @deposit %>
        <div class="stay white-box bottom-shadow">
          
          <h5 class="text-left black">
            入金内訳
          </h5>
          <table class="text-center table lg fs-15">
              <tr>
                <td class="text-right bottom"><i class="fas fa-male fa-lg default-blue"></i></td>
                <td class="text-left bottom">共通財布に<span class="fs-15"><%= "#{@man_deposit.to_s(:delimited)}円" %></span>入金する</td>
              </tr>
              <tr>
                <td colspan="2" class="gray top text-right fs-07">手元に残る額 <span class="fs-15 black"><%= "#{(@deposit.man_salary- @man_deposit).to_s(:delimited)}円" %></span></td>
              </tr>
              <tr>
                <td class="text-right bottom"><i class="fas fa-female fa-lg light-red"></i></td>
                <td class="text-left bottom">共通財布に<span class="fs-15"><%= "#{@woman_deposit.to_s(:delimited)}円" %></span>入金する</td>
              </tr>
              <tr>
                <td colspan="2" class="gray top text-right fs-07">手元に残る額 <span class="fs-15 black"><%= "#{(@deposit.woman_salary- @woman_deposit).to_s(:delimited)}円" %></span></td>
              </tr>
          </table>
        </div>
        <div class="stay white-box bottom-shadow">
          <h5 class="text-left black">
            金額設定
          </h5>
          <table class="text-center table lg">
            <tr>
              <td class="gray text-left">入金総額</td>
              <td class="gray text-right">
              </td>
            </tr>
            <tr class="fs-15 top">
              <td colspan="2" class="top">
                <%= "#{@deposit.total_deposit.to_s(:delimited)}円" %>
              </td>
            </tr>
            <tr>
            </tr>
          </table>
          <table class="text-center table lg fs-15">
              <tr>
                <td></td>
                <td><i class="fas fa-male fa-lg default-blue"></i></td>
                <td><i class="fas fa-female fa-lg light-red"></i></td>
              </tr>
              <tr>
                <td>月給</td>
                <td><%= "#{@deposit.man_salary.to_s(:delimited)}円" %></td>
                <td><%= "#{@deposit.woman_salary.to_s(:delimited)}円" %></td>
              </tr>
              <tr>
                <td>調整金額</td>
                <td><%= "#{@correct_total_man.to_s(:delimited)}円" %></td>
                <td><%= "#{@correct_total_woman.to_s(:delimited)}円" %></td>
              </tr>
          </table>
          <%= link_to "条件を再設定する", deposit_path(@deposit), method: :delete, data:{confirm:"基本条件を再設定しますか？"}, class: 'btn btn-outline-secondary' %>
        </div>
        <div class="stay white-box bottom-shadow">
          <h5 class="text-left black">
            調整項目一覧
          </h5>
          <% if @corrects.present? %>
          <table class="text-center table table-hover table-sm">
            <tr>
              <th>事由</th>
              <th>対象者</th>
              <th>調整額</th>
              <th></th>
            </tr>
            <% @corrects.each do |correct| %>
            <tr class="table-light">
              <td><%= correct.name %></td>
              <td>
                <% if correct.player == '旦那' %>
                  <i class="fas fa-male fa-lg default-blue"></i>
                <% elsif correct.player == '嫁' %>
                  <i class="fas fa-female fa-lg light-red"></i>
                <% else %>
                  <%= correct.player %>
                <% end %>
              </td>
              <td><%= "#{correct.correct_amount.to_s(:delimited)}円" %></td>
              <td>
                <%= link_to correct_path(correct), method: :delete, data:{confirm:"本当に削除していいですか？"} do %>
                  <%= icon 'fas', 'trash' %>
                <% end %>
              </td>
            </tr>
            <% end %>
          </table>
          <% else %>
            <p>調整明細がありません</p>
          <% end %>
          <%= link_to '調整項目を追加する', month_corrects_path(params[:month_id]), class: 'btn btn-outline-secondary' %>
        </div>
      <% else %>
        <ul class="list-inline">
          ※条件を設定して下さい
          <%= form_with model: @add, local: true do |f| %>
                <div class="form-group text-left">
                  <%= f.label :入金総額 %>
                  <%= f.number_field :total_deposit, class: 'form-control form-control-lg', placeholder: '' %>
                </div><br>
                <div class="form-group text-left">
                  <%= f.label :旦那さんの月給 %>
                  <%= f.number_field :man_salary, class: 'form-control form-control-lg', placeholder: '' %>
                </div><br>
                <div class="form-group text-left">
                  <%= f.label :奥さんの月給 %>
                  <%= f.number_field :woman_salary, class: 'form-control form-control-lg', placeholder: '' %>
                </div><br>
                <%= f.submit '設定', class: 'btn btn-warning' %>
          <% end %>
        </ul>
        <div class="stay white-box bottom-shadow">
          <h5 class="text-left black">
            調整項目一覧
          </h5>
          <% if @corrects.present? %>
          <table class="text-center table table-hover table-sm">
            <tr>
              <th>事由</th>
              <th>対象者</th>
              <th>調整額</th>
              <th></th>
            </tr>
            <% @corrects.each do |correct| %>
            <tr class="table-light">
              <td><%= correct.name %></td>
              <td>
                <% if correct.player == '旦那' %>
                  <i class="fas fa-male fa-lg default-blue"></i>
                <% elsif correct.player == '嫁' %>
                  <i class="fas fa-female fa-lg light-red"></i>
                <% else %>
                  <%= correct.player %>
                <% end %>
              </td>
              <td><%= "#{correct.correct_amount.to_s(:delimited)}円" %></td>
              <td>
                <%= link_to correct_path(correct), method: :delete, data:{confirm:"本当に削除していいですか？"} do %>
                  <%= icon 'fas', 'trash' %>
                <% end %>
              </td>
            </tr>
            <% end %>
          </table>
          <% else %>
            <p>調整明細がありません</p>
          <% end %>
          <%= link_to '調整項目を追加する', month_corrects_path(params[:month_id]), class: 'btn btn-outline-secondary' %>
        </div>
    <% end %>
    </div>
  </div>
</div>
<footer class="switch_footer">
  <div class="switch top-shadow">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col prl-5">
          <%= link_to month_details_path do %>
            <i class="fas fa-list fa-lg"></i><br><div class="negative-margin"><span class="font-size">明細</span></div>
          <% end %>
        </div>
        <div class="col prl-5">
          <%= link_to reimbursement_month_details_path do %>
            <i class="fas fa-exchange-alt fa-lg"></i><br><div class="negative-margin"><span class="font-size">精算</span></div>
          <% end %>
        </div>
        <div class="col prl-5">
          <%= link_to month_budgets_path do %>
            <i class="fas fa-chart-pie fa-lg"></i><br><div class="negative-margin"><span class="font-size">分析</span></div>
          <% end %>
        </div>

        <div class="col prl-5">
          <%= link_to month_deposits_path do %>
            <i class="fas fa-donate fa-lg orange"></i><br><div class="negative-margin"><span class="font-size orange">入金</span></div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <div class="information-footer stay">
  <span class="white">© 2021 Common Wallet　</span>
    <%= link_to '利用規約',terms_of_service_path,:style=>"color:#FFFFFF;" %>
    <span class="white"> / </span>
    <%= link_to 'プライバシーポリシー', privacy_policy_path,:style=>"color:#FFFFFF;" %>
  </div>
</footer>