<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-LKBSFQGWRN"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-LKBSFQGWRN');
</script>
<header>
<div class='fixed-top'>
  <div class="header bottom-shadow">
    <table class="table">
      <tr>
        <td class="p-0"><h2 class="white pt-15 text-left pl-50">入金</h2></td>
        <td class="p-0"><h2 class="text-right pt-15 pr-20"><span class="white fs-07"><%= @month.month.strftime(" %Y年%-m月 ") %></span></h2></td>
      </tr>
    </table>
  </div>
  <input type="checkbox" class="openSidebarMenu" id="openSidebarMenu">
  <label for="openSidebarMenu" class="sidebarIconToggle">
    <div class="spinner diagonal part-1"></div>
    <div class="spinner horizontal"></div>
    <div class="spinner diagonal part-2"></div>
  </label>
  <div id="sidebarMenu">
    <ul class="sidebarMenuInner">
      <li class="text-left"><i class="fas fa-home fa-lg"></i><%= link_to ' ホーム', profile_path %></li>
      <li class="text-left"><i class="fas fa-donate fa-lg"></i><%= link_to ' 家計簿一覧', months_path %></li>
      <% if @authenticated_this_month.present? %>
        <li class="text-left"><i class="fas fa-list fa-lg"></i><%= link_to ' 明細', month_details_path(@authenticated_this_month.id) %></li>
        <li class="text-left"><i class="fas fa-exchange-alt fa-lg"></i><%= link_to ' 精算', reimbursement_month_details_path(@authenticated_this_month.id) %></li>
        <li class="text-left"><i class="fas fa-chart-pie fa-lg"></i><%= link_to ' 分析', month_budgets_path(@authenticated_this_month.id) %></li>
        <li class="text-left"><i class="fas fa-donate fa-lg"></i><%= link_to ' 入金', month_deposits_path(@authenticated_this_month.id) %></li>
      <% end %>
      <% if current_user.name == "ゲストユーザー" %>
        <li class="text-left"><i class="fas fa-user fa-lg"></i><%= link_to " #{current_user.name}", profile_path %></li>
      <% else %>
        <li class="text-left"><i class="fas fa-user fa-lg"></i><%= link_to " #{current_user.name}", edit_profile_path %></li>
      <% end %>
      <li class="text-left"><i class="fas fa-file-alt fa-lg"></i><%= link_to " 利用規約", terms_of_service_path %></li>
      <li class="text-left"><i class="fas fa-file-alt fa-lg"></i><%= link_to " プライバシーポリシー", privacy_policy_path %></li>
      <li class="text-left"><i class="fas fa-sign-out-alt fa-lg"></i><%= link_to ' ログアウト', logout_path, method: :delete, data:{confirm:"ログアウトしますか？"} %></li>
    </ul>
  </div>
</div>
</header>
<div class="container">
  <div class="row">
    <div class="col">
      <% if current_user.name == "ゲストユーザー" %>
        <div class="invite-resister">
          <p class="mb-5">閲覧中のデータはサンプルです</p>
          <%= link_to "ユーザー登録へ", invite_resiter_path, method: :delete %>
        </div>
      <% end %>
      <% if @deposit %>
        <div class="stay white-box bottom-shadow">
          
          <h5 class="text-left black">
            入金内訳
          </h5>
          <table class="text-center table lg fs-15">
              <tr>
                <td class="text-right bottom"><i class="fas fa-circle fa-lg default-blue"></i></td>
                <td class="text-left bottom">共通財布に<span class="fs-15"><%= "#{@man_deposit.to_s(:delimited)}円" %></span>入金する</td>
              </tr>
              <tr>
                <td colspan="2" class="gray top text-right fs-07 bottom">手元に残る額 <span class="fs-15 black"><%= "#{(@deposit.man_salary- @man_deposit).to_s(:delimited)}円" %></span></td>
              </tr>
              <tr>
                <td class="text-right bottom top"><i class="fas fa-circle fa-lg red"></i></td>
                <td class="text-left bottom top">共通財布に<span class="fs-15"><%= "#{@woman_deposit.to_s(:delimited)}円" %></span>入金する</td>
              </tr>
              <tr>
                <td colspan="2" class="gray top text-right fs-07">手元に残る額 <span class="fs-15 black"><%= "#{(@deposit.woman_salary- @woman_deposit).to_s(:delimited)}円" %></span></td>
              </tr>
          </table>
        </div>
        <div class="stay white-box bottom-shadow">
          <table class="table">
            <tr>
              <td class="p-0"><h5 class="text-left black">金額設定</h5></td>
              <td class="p-0 text-right"><%= link_to "条件を再設定する", deposit_path(@deposit), method: :delete, data:{confirm:"基本条件を再設定しますか？"}, class: 'btn btn-outline-danger btn-sm radius' %></td>
            </tr>
          </table>
          <table class="text-center table lg">
            <tr>
              <td class="gray text-right">入金総額</td>
              <td class="gray text-left fs-15 black"><%= "#{@deposit.total_deposit.to_s(:delimited)}円" %>
              </td>
            </tr>
            <tr>
            </tr>
          </table>
          <table class="text-center table lg fs-15">
            <tr>
              <td></td>
              <td>月給</td>
              <td>調整金額</td>
            </tr>
            <tr>
              <td><i class="fas fa-circle fa-lg default-blue"></i></td>
              <td><%= "#{@deposit.man_salary.to_s(:delimited)}円" %></td>
              <td><%= "#{@correct_total_man.to_s(:delimited)}円" %></td>
            </tr>
            <tr>
              <td><i class="fas fa-circle fa-lg red"></i></td>
              <td><%= "#{@deposit.woman_salary.to_s(:delimited)}円" %></td>
              <td><%= "#{@correct_total_woman.to_s(:delimited)}円" %></td>
            </tr>
          </table>
        </div>
        <div class="stay white-box bottom-shadow">
          <table class="table">
            <tr>
              <td class="p-0"><h5 class="text-left black">調整項目一覧</h5></td>
              <td class="p-0 text-right">
                <%= link_to month_corrects_path(params[:month_id]) do %>
                  <div class="plus-bottom-small bottom-shadow inline-block">＋</div>
                <% end %>
              </td>
            </tr>
          </table>
          <% if @corrects.present? %>
          <table class="text-center table table-hover table-sm">
            <tr>
              <th>対象</th>
              <th>調整名</th>
              <th>調整額/調整率</th>
              <th></th>
            </tr>
            <% @corrects.each do |correct| %>
            <tr class="table-light">
              <td>
                <% if correct.player == '旦那' %>
                  <i class="fas fa-circle fa-lg default-blue"></i>
                <% elsif correct.player == '嫁' %>
                  <i class="fas fa-circle fa-lg red"></i>
                <% else %>
                  <%= correct.player %>
                <% end %>
              </td>
              <td><%= correct.name %></td>
              <td><%= "#{correct.correct_amount.to_s(:delimited)}円/#{correct.rate.to_s(:delimited)}％" %></td>
              <td>
                <%= link_to correct_path(correct), method: :delete, data:{confirm:"本当に削除していいですか？"} do %>
                  <%= icon 'fas', 'trash' %>
                <% end %>
              </td>
            </tr>
            <% end %>
          </table>
          <% else %>
            <p>調整明細がありません</p>
          <% end %>
        </div>
      <% else %>
      <div class="white-box bottom-shadow btn-6">
        <ul class="list-inline">
          ※条件を設定して下さい
          <%= form_with model: @add, local: true do |f| %>
                <div class="form-group text-left">
                  <%= f.label :入金総額 %>
                  <%= f.number_field :total_deposit, class: 'form-control form-control-lg bgc-gray', placeholder: '' %>
                </div><br>
                <div class="form-group text-left">
                  <%= f.label :旦那さんの月給 %>
                  <%= f.number_field :man_salary, class: 'form-control form-control-lg bgc-gray', placeholder: '' %>
                </div><br>
                <div class="form-group text-left">
                  <%= f.label :奥さんの月給 %>
                  <%= f.number_field :woman_salary, class: 'form-control form-control-lg bgc-gray', placeholder: '' %>
                </div><br>
                <%= f.submit '設定する', class: 'btn btn-warning' %>
          <% end %>
        </ul>
        </div>
        <div class="stay white-box bottom-shadow">
          <table class="table">
            <tr>
              <td class="p-0"><h5 class="text-left black">調整項目一覧</h5></td>
              <td class="p-0 text-right">
                <%= link_to month_corrects_path(params[:month_id]) do %>
                  <div class="plus-bottom-small bottom-shadow inline-block">＋</div>
                <% end %>
              </td>
            </tr>
          </table>
          <% if @corrects.present? %>
          <table class="text-center table table-hover table-sm">
            <tr>
              <th>対象</th>
              <th>調整名</th>
              <th>調整額/調整率</th>
              <th></th>
            </tr>
            <% @corrects.each do |correct| %>
            <tr class="table-light">
              <td>
                <% if correct.player == '旦那' %>
                  <i class="fas fa-circle fa-lg default-blue"></i>
                <% elsif correct.player == '嫁' %>
                  <i class="fas fa-circle fa-lg red"></i>
                <% else %>
                  <%= correct.player %>
                <% end %>
              </td>
              <td><%= correct.name %></td>
              <td><%= "#{correct.correct_amount.to_s(:delimited)}円/#{correct.rate.to_s(:delimited)}％" %></td>
              <td>
                <%= link_to correct_path(correct), method: :delete, data:{confirm:"本当に削除していいですか？"} do %>
                  <%= icon 'fas', 'trash' %>
                <% end %>
              </td>
            </tr>
            <% end %>
          </table>
          <% else %>
            <p>調整明細がありません</p>
          <% end %>
        </div>
    <% end %>
    </div>
  </div>
</div>
<footer class="switch_footer">
  <div class="switch top-shadow">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col prl-5">
          <%= link_to month_details_path do %>
            <i class="fas fa-list fa-lg"></i><br><div class="negative-margin"><span class="font-size">明細</span></div>
          <% end %>
        </div>
        <div class="col prl-5">
          <%= link_to reimbursement_month_details_path do %>
            <i class="fas fa-exchange-alt fa-lg"></i><br><div class="negative-margin"><span class="font-size">精算</span></div>
          <% end %>
        </div>
        <div class="col prl-5">
          <%= link_to month_budgets_path do %>
            <i class="fas fa-chart-pie fa-lg"></i><br><div class="negative-margin"><span class="font-size">分析</span></div>
          <% end %>
        </div>

        <div class="col prl-5">
          <%= link_to month_deposits_path do %>
            <i class="fas fa-donate fa-lg orange"></i><br><div class="negative-margin"><span class="font-size orange">入金</span></div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</footer>