
    <div class="stay white-box">
    <table class="text-center table lg">
      <tr>
        <td class="gray text-left pl-5">口座残高</td>
        <td class="gray text-right"><span class="fs-07">前月比</span>
          <% if @month.balance < @month.balance_last %>
            <span class="blue"><%= "+#{(@month.balance_last - @month.balance).to_s(:delimited)}円 " %><i class="fas fa-angle-double-up"></i></span>
          <% elsif @month.balance == @month.balance_last %>
            -
          <% else %>
            <span class="red"><%= "#{(@month.balance_last - @month.balance).to_s(:delimited)}円 " %><i class="fas fa-angle-double-down"></i></span>
          <% end %>
        </td>
      </tr>
      <tr class="fs-15 top">
        <td colspan="2" class="top"><%= "#{@month.balance_last.to_s(:delimited) }円" %></td>
      </tr>
      <tr>
        <td class="gray border-top border-dark-top">立替精算後</td>
        <td class="gray border-top border-dark-top">月末予想</td>
      </tr>
      <tr class="fs-13 top">
        <td class="top"><%= "#{(@month.balance_last + @balance_of_payments_not_common).to_s(:delimited)}円" %></td>
        <td class="top"><%= "#{(@month.balance + @balance_of_payments).to_s(:delimited)}円" %></td>
      </tr>
    </table>
    </div>
    <div class="stay white-box">
    <h5 class="text-left black fs-12 pl-5">今月の収支</h5>
    <table class="text-center table lg">
      <tr>
        <td class="width-50 gray">収入</td>
        <td class="fs-13 vertical-top text-right blue"><%= "#{@income_total.to_s(:delimited)}円　" %></td>
      </tr>
      <tr>
        <td class="width-50 mt-0 gray">支出</td>
        <td class="fs-13 vertical-top top text-right red"><%= "#{@spending_total.to_s(:delimited)}円　" %></td>
      </tr>
      <tr>
        <td class="border-top border-dark-top mb-0 gray">収支</td>
        <td class="fs-13 vertical-top border-top border-dark-top mb-0 text-right">
          <% if @balance_of_payments >= 0 %>
          <div class="blue">
            <%= "+#{@balance_of_payments.to_s(:delimited)}円　" %><i class="fas fa-angle-double-up"></i>
          </div>
          <% else %>
          <div class="red">
            <%= "#{@balance_of_payments.to_s(:delimited)}円　" %><i class="fas fa-angle-double-down"></i>
          </div>
          <% end %>
        </td>
      </tr>
    </table>
    </div>
<div class="stay white-box mb-40">
<h5 class="text-left black fs-12 pl-5">明細一覧</h5>
<table class="text-center table table-sm">
  <% details.each do |detail| %>
    <tr class="table-light" id="detail-trash-button-<%=detail.id%>">
      <td class="text-right gray" width="36"><%= detail.date.strftime("%-d日") %></td>
      <td>
      <% if detail.classification == 'rent' %>
        <i class="fas fa-home fa-lg red"></i>
      <% elsif detail.classification == 'food' %>
        <i class="fas fa-utensils fa-lg yellow"></i>
      <% elsif detail.classification == 'life' %>
        <i class="fas fa-faucet fa-lg blue"></i>
      <% elsif detail.classification == 'enjoy' %>
        <i class="fas fa-glass-cheers fa-lg green"></i>
      <% elsif detail.classification == 'money' %>
        <i class="fas fa-donate fa-lg gray"></i>
      <% elsif detail.classification == 'other' %>
        <i class="far fa-question-circle fa-lg gray"></i>
      <% else %>
        <%= detail.classification_i18n %>
      <% end %>
      </td>
      <td class="text-left"><%= detail.note %></td>
      <td class="display-xs-none">
        <% if detail.income.present? %>
          <%= "#{detail.income.to_s(:delimited)}円" %>
        <% else %>
          <%= detail.income %>
        <% end %>
      </td>
      <td class="display-xs-none">
        <% if detail.spending.present? %>
          <%= "#{detail.spending.to_s(:delimited)}円" %>
        <% else %>
          <%= detail.spending %>
        <% end %>
      </td>
      <td class="display-lg-none text-right" width="80">
        <% if detail.income.present? && detail.spending.present? %>
          <%= "#{(detail.income - detail.spending).to_s(:delimited)}円" %>
        <% elsif !detail.income.present? && detail.spending.present? %>
        <div class="red">
          <%= "#{(-detail.spending).to_s(:delimited)}円" %>
        </div>
        <% elsif detail.income.present? && !detail.spending.present? %>
        <div>
          <%= "+#{(detail.income).to_s(:delimited)}円" %>
        </div>
        <% else %>
          <%= detail.income %>
        <% end %>
      </td>
      <td width="40">
        <% if detail.replayer == '旦那' %>
          <i class="fas fa-user blue"></i>
        <% elsif detail.replayer == '嫁' %>
          <i class="fas fa-user red"></i>
        <% elsif detail.replayer == '共通' %>
        <% else %>
          <%= detail.replayer %>
        <% end %>
        <% if detail.replayer == '旦那' || detail.replayer == '嫁' %>
          <span id="detail-status-button-<%=detail.id%>">
              <%= render partial: 'details/status', locals: { detail: detail} %>
          </span>
        <% end %>
      </td>
      <td>
        <%= link_to edit_detail_path(detail) do %>
          <%= icon 'fa', 'pen' %>
        <% end %>
      </td>
    </tr>
  <% end %>
</table>
</div>