
    <table class="text-center table lg">
      <tr>
        <td class="gray text-left">口座残高</td>
        <td class="gray text-right"><span class="fs-07">前月比</span>
          <% if @month.balance < @month.balance_last %>
            <span class="default-blue"><%= "+#{(@month.balance_last - @month.balance).to_s(:delimited)}円 " %></span>
          <% elsif @month.balance == @month.balance_last %>
            -
          <% else %>
            <span class="red"><%= "#{(@month.balance_last - @month.balance).to_s(:delimited)}円 " %><i class="fas fa-fire"></i></span>
          <% end %>
        </td>
      </tr>
      <tr class="fs-15 top">
        <td colspan="2" class="top"><%= "#{@month.balance_last.to_s(:delimited) }円" %></td>
      </tr>
      <tr>
        <td class="gray border-top border-dark-top">立替精算後</td>
        <td class="gray border-top border-dark-top">月末予想</td>
      </tr>
      <tr class="fs-15 top">
        <td class="top"><%= "#{(@month.balance + @done_income - @done_spending + @balance_of_payments_not_common).to_s(:delimited)}円" %></td>
        <td class="top"><%= "#{(@month.balance + @balance_of_payments).to_s(:delimited)}円" %></td>
      </tr>
    </table>
    <table class="text-center table lg">
      <tr>
        <td colspan="2" class="bottom gray text-left">すべての収支（翌日以降含む）</td>
      </tr>
      <tr>
        <td class="width-50">収入</td>
        <td class="fs-15 vertical-top"><%= "#{@income_total.to_s(:delimited)}円" %></td>
      </tr>
      <tr>
        <td>支出</td>
        <td class="fs-15 vertical-top"><%= "#{@spending_total.to_s(:delimited)}円" %></td>
      </tr>
      <tr>
        <td class="border-top border-dark-top">収支</td>
        <td class="fs-15 vertical-top border-top border-dark-top">
          <% if @balance_of_payments >= 0 %>
          <div class="default-blue">
            <%= "+#{@balance_of_payments.to_s(:delimited)}円 " %>
          </div>
          <% else %>
          <div class="red">
            <%= "#{@balance_of_payments.to_s(:delimited)}円 " %><i class="fas fa-fire"></i>
          </div>
          <% end %>
        </td>
      </tr>
      
    </table>
<div class="stay white-box bottom-shadow">
  <h5 class="text-left black">
    記録一覧
  </h5>
<table class="text-center table table-hover table-sm">
  <tr>
    <th>日付</th>
    <th>項目</th>
    <th>メモ</th>
    <th class="display-xs-none">収入</th>
    <th class="display-xs-none">支出</th>
    <th class="display-lg-none">収支</th>
    <th>立替</th>
    <th>精算</th>
    <th></th>
  </tr>
  <% details.each do |detail| %>
    <tr class="table-light" id="detail-trash-button-<%=detail.id%>">
      <td><%= detail.date.strftime("%-m/%-d") %></td>
      <td>
      <% if detail.classification == 'rent' %>
        <i class="fas fa-home fa-lg red"></i>
      <% elsif detail.classification == 'food' %>
        <i class="fas fa-utensils fa-lg yellow"></i>
      <% elsif detail.classification == 'life' %>
        <i class="fas fa-faucet fa-lg blue"></i>
      <% elsif detail.classification == 'enjoy' %>
        <i class="fas fa-glass-cheers fa-lg green"></i>
      <% elsif detail.classification == 'money' %>
        <i class="fas fa-donate fa-lg gray"></i>
      <% elsif detail.classification == 'other' %>
        <i class="far fa-question-circle fa-lg"></i>
      <% else %>
        <%= detail.classification_i18n %>
      <% end %>
      </td>
      <td><%= detail.note %></td>
      <td class="display-xs-none">
        <% if detail.income.present? %>
          <%= "#{detail.income.to_s(:delimited)}円" %>
        <% else %>
          <%= detail.income %>
        <% end %>
      </td>
      <td class="display-xs-none">
        <% if detail.spending.present? %>
          <%= "#{detail.spending.to_s(:delimited)}円" %>
        <% else %>
          <%= detail.spending %>
        <% end %>
      </td>
      <td class="display-lg-none">
        <% if detail.income.present? && detail.spending.present? %>
          <%= "#{(detail.income - detail.spending).to_s(:delimited)}円" %>
        <% elsif !detail.income.present? && detail.spending.present? %>
        <div class="red">
          <%= "#{(-detail.spending).to_s(:delimited)}円" %>
        </div>
        <% elsif detail.income.present? && !detail.spending.present? %>
        <div>
          <%= "+#{(detail.income).to_s(:delimited)}円" %>
        </div>
        <% else %>
          <%= detail.income %>
        <% end %>
      </td>
      <td>
        <% if detail.replayer == '旦那' %>
          <i class="fas fa-male fa-lg default-blue"></i>
        <% elsif detail.replayer == '嫁' %>
          <i class="fas fa-female fa-lg light-red"></i>
        <% elsif detail.replayer == '共通' %>
          <i class="fas fa-user-friends green"></i>
        <% else %>
          <%= detail.replayer %>
        <% end %>
      </td>
      <td>
        <% if detail.replayer == '旦那' || detail.replayer == '嫁' %>
          <div id="detail-status-button-<%=detail.id%>">
              <%= render partial: 'details/status', locals: { detail: detail} %>
          </div>
        <% end %>
      </td>
      <td>
        <%= link_to detail_path(detail), method: :delete, data:{confirm:"本当に削除していいですか？"}, remote: true do %>
          <%= icon 'fas', 'trash' %>
        <% end %>
      </td>
    </tr>
  <% end %>
</table>
</div>