<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-LKBSFQGWRN"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-LKBSFQGWRN');
</script>
<div class="container">
  <div class="row">
    <div class="col">
    <h2 class="border-bottom">明細<span class="gray fs-07"><%= @month.month.strftime(" %Y年%-m月") %></span>
    </h2>
    <ul class="list-inline">
      <%= form_with model: @add, html: { class: 'form-inline' }, data: {remote: true} do |f| %>
        <%= f.date_field :date, class: 'form-control', id: 'js-new-detail-date' %>
        <%= f.select :classification,[["家賃", :rent], ["食費", :food], ["生活費", :life], ["交際費", :enjoy], ["入金", :money], ["その他", :other]],{ include_blank: '項目'}, class: 'form-control col', id: 'js-new-detail-classification' %>
        <%= f.text_field :note, class: 'form-control col', placeholder: 'メモ', id: 'js-new-detail-note' %>
        <%= f.number_field :income, class: 'form-control col', placeholder: '収入', id: 'js-new-detail-income' %>
        <%= f.number_field :spending, class: 'form-control col', placeholder: '支出', id: 'js-new-detail-spending' %>
        <%= f.select :replayer,[["旦那", "旦那"], ["嫁", "嫁"], ["立替なし(共通財布から支払い)", "共通"]],{ include_blank: '立替者'}, class: 'form-control col', id: 'js-new-detail-replayer' %>
        <%= f.submit '記録する', class: 'btn btn-secondary' %>
      <% end %>
    </ul>
        <div id="js-table-detail">
          <%= render partial: 'details/detail', locals: { details: @details } %>
        </div>
      </div>
    </div>
  </div>
</div>
<footer class="switch_footer">
  <div class="switch top-shadow">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col prl-5">
          <%= link_to month_details_path do %>
            <i class="fas fa-list fa-lg orange"></i><br><div class="negative-margin"><span class="font-size orange">明細</span></div>
          <% end %>
        </div>
        <div class="col prl-5">
          <%= link_to month_budgets_path do %>
            <i class="fas fa-chart-pie fa-lg"></i><br><div class="negative-margin"><span class="font-size">分析</span></div>
          <% end %>
        </div>
        <div class="col prl-5">
          <%= link_to new_month_detail_path do %>
            <i class="fas fa-exchange-alt fa-lg"></i><br><div class="negative-margin"><span class="font-size">精算</span></div>
          <% end %>
        </div>
        <div class="col prl-5">
          <%= link_to month_deposits_path do %>
            <i class="fas fa-donate fa-lg"></i><br><div class="negative-margin"><span class="font-size">入金</span></div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <div class="information-footer stay">
  <span class="white">© 2021 Common Wallet　</span>
    <%= link_to '利用規約',terms_of_service_path,:style=>"color:#FFFFFF;" %>
    <span class="white"> / </span>
    <%= link_to 'プライバシーポリシー', privacy_policy_path,:style=>"color:#FFFFFF;" %>
  </div>
</footer>
