<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-LKBSFQGWRN"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-LKBSFQGWRN');
</script>
<div class="container">
  <div class="row">
    <div class="col">
    <h2 class="border-bottom">
      <%= @month.month.strftime("%Y年%-m月の家計簿") %>
    </h2>
    <ul class="list-inline">
      <%= form_with model: @add, html: { class: 'form-inline' }, data: {remote: true} do |f| %>
        <%= f.date_field :date, class: 'form-control', id: 'js-new-detail-date' %>
        <%= f.select :classification,[["家賃", :rent], ["食費", :food], ["生活費", :life], ["交際費", :enjoy], ["入金", :money], ["その他", :other]],{ include_blank: '項目'}, class: 'form-control', id: 'js-new-detail-classification' %>
        <%= f.text_field :note, class: 'form-control', placeholder: 'メモ', id: 'js-new-detail-note' %>
        <%= f.number_field :income, class: 'form-control', placeholder: '収入', id: 'js-new-detail-income' %>
        <%= f.number_field :spending, class: 'form-control', placeholder: '支出', id: 'js-new-detail-spending' %>
        <%= f.select :replayer,[["旦那", "旦那"], ["嫁", "嫁"], ["立替なし(共通財布から支払い)", "共通"]],{ include_blank: '立替者'}, class: 'form-control', id: 'js-new-detail-replayer' %>
        <%= f.submit '明細追加', class: 'btn btn-warning' %>
      <% end %>
    </ul>
        <div id="js-table-detail">
          <%= render partial: 'details/detail', locals: { details: @details } %>
        </div>
      <%= link_to '戻る', months_path  %>
      </div>
    </div>
  </div>
</div>
