<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-LKBSFQGWRN"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-LKBSFQGWRN');
</script>
<div class="container">
  <div class="row">
    <div class="col">
      <h2 class="border-bottom">精算<span class="gray fs-07"><%= @month.month.strftime(" %Y年%-m月 ") %></span></h2>
      <% if @details.present? %>
      <div class="stay">
        <table class="text-center table lg">
          <tr>
            <td class="text-left">　現状</td>
            <td class="fs-15"><%= "#{@month.balance_last.to_s(:delimited) }円" %></td>
          </tr>
          <tr>
            <td class="text-left">　精算額</td>
            <td class="fs-15">
              <% if @balance_of_payments_not_common >= 0 %>
                <span class="default-blue"><%= "+#{(@balance_of_payments_not_common).to_s(:delimited)}円" %></span>
              <% else %>
                <span class="red"><%= "#{(@balance_of_payments_not_common).to_s(:delimited)}円" %></span>
              <% end %>
            </td>
          </tr>
          <tr>
            <td class="text-left border-top border-dark-top">　精算後</td>
            <td class="fs-15 border-top border-dark-top"><%= "#{(@month.balance + @done_income - @done_spending + @balance_of_payments_not_common).to_s(:delimited)}円" %></td>
          </tr>
          
        </table>
      <div class="stay white-box bottom-shadow">
        <h5 class="text-left black">
          精算内訳
        </h5>
        <table class="text-center table lg fs-15">
          <% @replayers.each do |replayer| %>
            <tr>
              <td class="text-right">
                <% if replayer.replayer == '旦那' %>
                  <i class="fas fa-male fa-lg default-blue"></i>
                <% elsif replayer.replayer == '嫁' %>
                  <i class="fas fa-female fa-lg light-red"></i>
                <% else %>
                  <%= replayer.replayer %>
                <% end %>
              </td>
              <% if Detail.where(user_id: current_user.id, month_id: params[:month_id], replayer: replayer.replayer, status: :not_yet).where("date <= ?", Date.today).sum(:spending) - Detail.where(user_id: current_user.id, month_id: params[:month_id], replayer: replayer.replayer, status: :not_yet).where("date <= ?", Date.today).sum(:income) < 0 %>
                <td class="text-left">共通財布に<span class="text-danger fs-15"><%= "#{((Detail.where(user_id: current_user.id, month_id: params[:month_id], replayer: replayer.replayer, status: :not_yet).where("date <= ?", Date.today).sum(:spending) - Detail.where(user_id: current_user.id, month_id: params[:month_id], replayer: replayer.replayer, status: :not_yet).where("date <= ?", Date.today).sum(:income))* -1).to_s(:delimited)}円" %></span>入金する</td>
              <% else %>
                <td class="text-left">共通財布から<span class="default-blue fs-15"><%= "#{(Detail.where(user_id: current_user.id, month_id: params[:month_id], replayer: replayer.replayer, status: :not_yet).where("date <= ?", Date.today).sum(:spending) - Detail.where(user_id: current_user.id, month_id: params[:month_id], replayer: replayer.replayer, status: :not_yet).where("date <= ?", Date.today).sum(:income)).to_s(:delimited)}円" %></span>受け取る</td>
              <% end %>
            </tr>
          <% end %>
        </table>
      </div>
      </div>
        <div class="stay white-box bottom-shadow">
        <h5 class="text-left black">
          明細
        </h5>
        <table class="text-center table table-hover table-sm">
          <tr>
            <th>日付</th>
            <th>分類</th>
            <th>メモ</th>
            <th class="display-xs-none">収入</th>
            <th class="display-xs-none">支出</th>
            <th class="display-lg-none">収支</th>
            <th>立替</th>
          </tr>
          <% @details.each do |detail| %>
          <tr class="table-light">
            <td><%= detail.date.strftime("%-m月%-d日") %></td>
            <td>
            <% if detail.classification == 'rent' %>
              <i class="fas fa-home fa-lg red"></i>
            <% elsif detail.classification == 'food' %>
              <i class="fas fa-utensils fa-lg yellow"></i>
            <% elsif detail.classification == 'life' %>
              <i class="fas fa-faucet fa-lg blue"></i>
            <% elsif detail.classification == 'enjoy' %>
              <i class="fas fa-glass-cheers fa-lg green"></i>
            <% elsif detail.classification == 'money' %>
              <i class="fas fa-donate fa-lg gray"></i>
            <% elsif detail.classification == 'other' %>
              <i class="fas fa-question-circle fa-lg"></i>
            <% else %>
              <%= detail.classification_i18n %>
            <% end %>
            </td>
            <td><%= detail.note %></td>
            <td class="display-xs-none">
              <% if detail.income.present? %>
                <%= "#{detail.income.to_s(:delimited)}円" %>
              <% else %>
                <%= detail.income %>
              <% end %>
            </td>
            <td class="display-xs-none">
              <% if detail.spending.present? %>
                <%= "#{detail.spending.to_s(:delimited)}円" %>
              <% else %>
                <%= detail.spending %>
              <% end %>
            </td>
            <td class="display-lg-none">
              <% if detail.income.present? && detail.spending.present? %>
                <%= "#{(detail.income - detail.spending).to_s(:delimited)}円" %>
              <% elsif !detail.income.present? && detail.spending.present? %>
                <div class="red">
                  <%= "#{(-detail.spending).to_s(:delimited)}円" %>
                </div>
              <% elsif detail.income.present? && !detail.spending.present? %>
                <%= "#{(detail.income).to_s(:delimited)}円" %>
              <% else %>
                <%= detail.income %>
              <% end %>
            </td>
            <td>
              <% if detail.replayer == '旦那' %>
                <i class="fas fa-male fa-lg default-blue"></i>
              <% elsif detail.replayer == '嫁' %>
                <i class="fas fa-female fa-lg light-red"></i>
              <% else %>
                <%= detail.replayer %>
              <% end %>
            </td>
            </td>
          </tr>
          <% end %>
        </table>
        <p>※ステータスが「未済」かつ本日以前の明細が精算対象となります。</p>
      </div>
      <% else %>
      <p>精算はありません</p>
      <% end %>
    </div>
    </div>
  </div>
</div>
<footer class="switch_footer">
  <div class="switch top-shadow">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col prl-5">
          <%= link_to month_details_path do %>
            <i class="fas fa-list fa-lg"></i><br><div class="negative-margin"><span class="font-size">明細</span></div>
          <% end %>
        </div>
        <div class="col prl-5 orange">
          <%= link_to new_month_detail_path do %>
            <i class="fas fa-exchange-alt fa-lg orange"></i><br><div class="negative-margin"><span class="font-size orange">精算</span></div>
          <% end %>
        </div>
        <div class="col prl-5">
          <%= link_to month_budgets_path do %>
            <i class="fas fa-chart-pie fa-lg"></i><br><div class="negative-margin"><span class="font-size">分析</span></div>
          <% end %>
        </div>
        <div class="col prl-5">
          <%= link_to month_deposits_path do %>
            <i class="fas fa-donate fa-lg"></i><br><div class="negative-margin"><span class="font-size">入金</span></div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <div class="information-footer stay">
  <span class="white">© 2021 Common Wallet　</span>
    <%= link_to '利用規約',terms_of_service_path,:style=>"color:#FFFFFF;" %>
    <span class="white"> / </span>
    <%= link_to 'プライバシーポリシー', privacy_policy_path,:style=>"color:#FFFFFF;" %>
  </div>
</footer>