<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-LKBSFQGWRN"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-LKBSFQGWRN');
</script>
<div class="container">
  <div class="row">
    <div class="col">
      <h2 class="border-bottom"><span class="badge badge-success">
        <i class="fas fa-exchange-alt white"></i> 精算</span><br class="visible-xs-block"><%= @month.month.strftime(" %Y年%-m月 ") %></h2>
      <% if @details.present? %>
      <div class="stay">
        <table class="text-center table green lg">
          <tr>
            <th>口座残高</th>
            <th>今回の精算金</th>
            <th>精算後の残高</th>
          </tr>
          <tr class="table-light">
            <td><%= "#{(@month.balance + @done_income - @done_spending).to_s(:delimited)}円" %></td>
            <td>
            <% if @balance_of_payments_not_common >= 0 %>
              <%= "+#{(@balance_of_payments_not_common).to_s(:delimited)}円" %>
            <% else %>
              <%= "#{(@balance_of_payments_not_common).to_s(:delimited)}円" %>
            <% end %>
            </td>
            <td><%= "#{(@month.balance + @done_income - @done_spending + @balance_of_payments_not_common).to_s(:delimited)}円" %></td>
          </tr>
        </table>
        <h5>
          <span class="badge badge-pill badge-success">
            内訳
          </span>
        </h5>
        <table class="text-center table green">
          <tr>
            <th class></th>
            <th>入金</th>
            <th>支払</th>
            <th>共通→個人</th>
          </tr>
          <% @replayers.each do |replayer| %>
            <tr class="table-light">
              <td>
                <% if replayer.replayer == '旦那' %>
                  <i class="fas fa-male fa-lg light-blue"></i>
                <% elsif replayer.replayer == '嫁' %>
                  <i class="fas fa-female fa-lg red"></i>
                <% else %>
                  <%= replayer.replayer %>
                <% end %>
              </td>
              <td><%= "#{(Detail.where(user_id: current_user.id, month_id: params[:month_id], replayer: replayer.replayer, status: :not_yet).where("date <= ?", Date.today).sum(:income)).to_s(:delimited)}円" %></td>
              <td><%= "#{(Detail.where(user_id: current_user.id, month_id: params[:month_id], replayer: replayer.replayer, status: :not_yet).where("date <= ?", Date.today).sum(:spending)).to_s(:delimited)}円" %></td>
              <% if Detail.where(user_id: current_user.id, month_id: params[:month_id], replayer: replayer.replayer, status: :not_yet).where("date <= ?", Date.today).sum(:spending) - Detail.where(user_id: current_user.id, month_id: params[:month_id], replayer: replayer.replayer, status: :not_yet).where("date <= ?", Date.today).sum(:income) < 0 %>
                <td class="table-light text-danger"><%= "#{(Detail.where(user_id: current_user.id, month_id: params[:month_id], replayer: replayer.replayer, status: :not_yet).where("date <= ?", Date.today).sum(:spending) - Detail.where(user_id: current_user.id, month_id: params[:month_id], replayer: replayer.replayer, status: :not_yet).where("date <= ?", Date.today).sum(:income)).to_s(:delimited)}円" %></td>
              <% else %>
                <td><%= "#{(Detail.where(user_id: current_user.id, month_id: params[:month_id], replayer: replayer.replayer, status: :not_yet).where("date <= ?", Date.today).sum(:spending) - Detail.where(user_id: current_user.id, month_id: params[:month_id], replayer: replayer.replayer, status: :not_yet).where("date <= ?", Date.today).sum(:income)).to_s(:delimited)}円" %></td>
              <% end %>
            </tr>
          <% end %>
            <tr class="table-light">
              <td>合計</td>
              <td><%= "#{@income_total_not_common.to_s(:delimited)}円" %></td>
              <td><%= "#{@spending_total_not_common.to_s(:delimited)}円" %></td>
              <% if @balance_of_payments_not_common > 0 %>
                <td class="table-light text-danger"><%= "#{(-@balance_of_payments_not_common).to_s(:delimited)}円" %></td>
              <% else %>
                <td><%= "#{(-@balance_of_payments_not_common).to_s(:delimited)}円" %></td>
              <% end %>
            </tr>
        </table>
      </div>
        <h5>
          <span class="badge badge-pill badge-success">
            明細
          </span>
        </h5>
        <table class="text-center table table-hover table-sm green">
          <tr>
            <th>日付</th>
            <th>分類</th>
            <th>メモ</th>
            <th class="display-xs-none">収入</th>
            <th class="display-xs-none">支出</th>
            <th class="display-lg-none">収支</th>
            <th>立替</th>
          </tr>
          <% @details.each do |detail| %>
          <tr class="table-light">
            <td><%= detail.date.strftime("%-m月%-d日") %></td>
            <td>
            <% if detail.classification == 'rent' %>
              <i class="fas fa-home fa-lg red"></i>
            <% elsif detail.classification == 'food' %>
              <i class="fas fa-utensils fa-lg yellow"></i>
            <% elsif detail.classification == 'life' %>
              <i class="fas fa-faucet fa-lg blue"></i>
            <% elsif detail.classification == 'enjoy' %>
              <i class="fas fa-glass-cheers fa-lg green"></i>
            <% elsif detail.classification == 'money' %>
              <i class="fas fa-donate fa-lg gray"></i>
            <% elsif detail.classification == 'other' %>
              <i class="fas fa-question-circle fa-lg purple"></i>
            <% else %>
              <%= detail.classification_i18n %>
            <% end %>
            </td>
            <td><%= detail.note %></td>
            <td class="display-xs-none">
              <% if detail.income.present? %>
                <%= "#{detail.income.to_s(:delimited)}円" %>
              <% else %>
                <%= detail.income %>
              <% end %>
            </td>
            <td class="display-xs-none">
              <% if detail.spending.present? %>
                <%= "#{detail.spending.to_s(:delimited)}円" %>
              <% else %>
                <%= detail.spending %>
              <% end %>
            </td>
            <td class="display-lg-none">
              <% if detail.income.present? && detail.spending.present? %>
                <%= "#{(detail.income - detail.spending).to_s(:delimited)}円" %>
              <% elsif !detail.income.present? && detail.spending.present? %>
                <div class="red">
                  <%= "#{(-detail.spending).to_s(:delimited)}円" %>
                </div>
              <% elsif detail.income.present? && !detail.spending.present? %>
                <%= "#{(detail.income).to_s(:delimited)}円" %>
              <% else %>
                <%= detail.income %>
              <% end %>
            </td>
            <td>
              <% if detail.replayer == '旦那' %>
                <i class="fas fa-male fa-lg light-blue"></i>
              <% elsif detail.replayer == '嫁' %>
                <i class="fas fa-female fa-lg red"></i>
              <% else %>
                <%= detail.replayer %>
              <% end %>
            </td>
            </td>
          </tr>
          <% end %>
        </table>
        <p>※ステータスが「未済」かつ本日以前の明細が精算対象となります。</p>
      </div>
      <% else %>
      <p>精算はありません</p>
      <% end %>
    </div>
  </div>
</div>