<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-LKBSFQGWRN"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-LKBSFQGWRN');
</script>
<header>
<div class='fixed-top'>
  <div class="header bottom-shadow">
    <table class="table">
      <tr>
        <td class="p-0"><h2 class="pt-15 text-left pl-50">精算</h2></td>
        <td class="p-0"><h2 class="text-right pt-15 pr-20"><span class="fs-07"><%= @month.month.strftime(" %Y年%-m月 ") %></span></h2></td>
      </tr>
    </table>
  </div>
  <input type="checkbox" class="openSidebarMenu" id="openSidebarMenu">
  <label for="openSidebarMenu" class="sidebarIconToggle">
    <div class="spinner diagonal part-1"></div>
    <div class="spinner horizontal"></div>
    <div class="spinner diagonal part-2"></div>
  </label>
  <div id="sidebarMenu">
    <ul class="sidebarMenuInner">
      <%= link_to profile_path do %><li class="text-left"><i class="fas fa-home fa-lg"></i>　ホーム</li><% end %>
      <%= link_to months_path do %><li class="text-left"><i class="fas fa-chart-bar fa-lg"></i>　家計簿一覧</li><% end %>
      <% if @authenticated_this_month.present? %>
        <%= link_to month_details_path(@authenticated_this_month.id) do %><li class="text-left"><i class="fas fa-receipt fa-lg"></i>　明細</li><% end %>
        <%= link_to reimbursement_month_details_path(@authenticated_this_month.id) do %><li class="text-left"><i class="fas fa-cash-register fa-lg"></i>　精算</li><% end %>
        <%= link_to month_budgets_path(@authenticated_this_month.id) do %><li class="text-left"><i class="fas fa-chart-pie fa-lg"></i>　分析</li><% end %>
        <%= link_to month_deposits_path(@authenticated_this_month.id) do %><li class="text-left"><i class="fas fa-piggy-bank fa-lg"></i>　入金</li><% end %>
      <% end %>
      <% if current_user.name == "ゲストユーザー" %>
        <%= link_to profile_path do %><li class="text-left"><i class="fas fa-user fa-lg"></i><%= "　#{current_user.name}"  %></li><% end %>
      <% else %>
        <%= link_to edit_profile_path do %><li class="text-left"><i class="fas fa-user fa-lg"></i><%= "　#{current_user.name}" %></li><% end %>
      <% end %>
      <%= link_to terms_of_service_path do %><li class="text-left"><i class="fas fa-file-alt fa-lg"></i>　利用規約</li><% end %>
      <%= link_to privacy_policy_path do %><li class="text-left"><i class="fas fa-file-alt fa-lg"></i>　プライバシーポリシー</li><% end %>
      <%= link_to logout_path, method: :delete, data:{confirm:"ログアウトしますか？"} do %><li class="text-left"><i class="fas fa-sign-out-alt fa-lg"></i>　ログアウト</li><% end %>
    </ul>
  </div>
</div>
</header>
<div class="container">
  <div class="row">
    <div class="col">
      <% if current_user.name == "ゲストユーザー" %>
        <div class="invite-resister">
          <p class="mb-5">閲覧中のデータはサンプルです</p>
          <%= link_to "ユーザー登録へ", invite_resiter_path, method: :delete %>
        </div>
      <% end %>
      <% if @details.present? %>
      <div class="stay">
        <div class="stay white-box">
        <table class="text-center table lg">
          <tr>
            <td class="text-left mt-0 gray top bottom" width="120">　現在の残高</td>
            <td class="fs-12 mt-0 text-right pr-30 top bottom"><%= "#{@month.balance_last.to_s(:delimited) }円" %></td>
          </tr>
          <tr>
            <td class="text-left mt-0 pb-5"></td>
            <td class="mt-0 text-right pr-30 pb-5">
              <% if @balance_of_payments_not_common >= 0 %>
                <span class="blue"><%= "+#{(@balance_of_payments_not_common).to_s(:delimited)}円" %></span>
              <% else %>
                <span class="red"><%= "#{(@balance_of_payments_not_common).to_s(:delimited)}円" %></span>
              <% end %>
            </td>
          </tr>
          <tr>
            <td class="text-left border-top border-dark-top gray bottom pt-5">　精算後残高</td>
            <td class="fs-12 border-top border-dark-top text-right pr-30 bottom pt-5"><%= "#{(@month.balance_last + @balance_of_payments_not_common).to_s(:delimited)}円" %></td>
          </tr>
        </table>
        </div>
      <div class="stay white-box">
        <h5 class="text-left black fs-12 pl-5">精算内訳</h5>
        <table class="text-center table lg fs-15">
        </table>
      </div>
      </div>
        <div class="stay white-box">
        <h5 class="text-left black fs-12 pl-5">精算一覧</h5>
        <table class="text-center table table-sm">
          <% @details.each do |detail| %>
          <tr class="table-light">
            <td class="text-right gray" width="36"><%= detail.date.strftime("%-d日") %></td>
            <td>
            <% if detail.classification == 'rent' %>
              <i class="fas fa-home fa-lg red"></i>
            <% elsif detail.classification == 'food' %>
              <i class="fas fa-utensils fa-lg yellow"></i>
            <% elsif detail.classification == 'life' %>
              <i class="fas fa-faucet fa-lg blue"></i>
            <% elsif detail.classification == 'enjoy' %>
              <i class="fas fa-glass-cheers fa-lg green"></i>
            <% elsif detail.classification == 'money' %>
              <i class="fas fa-piggy-bank fa-lg skin"></i>
            <% elsif detail.classification == 'other' %>
              <i class="fas fa-paw fa-lg brown"></i>
            <% else %>
              <%= detail.classification_i18n %>
            <% end %>
            </td>
            <td class="text-left"><%= detail.note %></td>
            <td class="display-xs-none">
              <% if detail.income.present? %>
                <%= "#{detail.income.to_s(:delimited)}円" %>
              <% else %>
                <%= detail.income %>
              <% end %>
            </td>
            <td class="display-xs-none">
              <% if detail.spending.present? %>
                <%= "#{detail.spending.to_s(:delimited)}円" %>
              <% else %>
                <%= detail.spending %>
              <% end %>
            </td>
            <td class="display-lg-none text-right" width="75">
              <% if detail.income.present? && detail.spending.present? %>
                <%= "#{(detail.income - detail.spending).to_s(:delimited)}円" %>
              <% elsif !detail.income.present? && detail.spending.present? %>
                <div class="red">
                  <%= "#{(-detail.spending).to_s(:delimited)}円" %>
                </div>
              <% elsif detail.income.present? && !detail.spending.present? %>
                <%= "#{(detail.income).to_s(:delimited)}円" %>
              <% else %>
                <%= detail.income %>
              <% end %>
            </td>
            <td>
              <% if detail.replayer == '旦那' %>
                <i class="fas fa-user blue"></i>
              <% elsif detail.replayer == '嫁' %>
                <i class="fas fa-user red"></i>
              <% else %>
                <%= detail.replayer %>
              <% end %>
            </td>
            </td>
          </tr>
          <% end %>
        </table>
        <p class="gray">※本日以前の明細が精算対象となります。</p>
      <%= link_to "精算を完了する", done_month_details_path(params[:month_id]), method: :patch, data:{confirm:"精算を完了しますか？"}, class: 'btn btn-warning mb-10' %>
      </div>
      <% else %>
      <body class="bgc-white">
      <p class="pt-30">精算はありません</p>
      </body>
      <% end %>
    </div>
    </div>
  </div>
</div>
<footer class="switch_footer">
  <div class="switch top-shadow d-flex align-items-center">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col prl-5">
          <%= link_to profile_path do %>
            <i class="fas fa-home fa-lg"></i><br><div class="negative-margin"><span class="font-size">ホーム</span></div>
          <% end %>
        </div>
        <div class="col prl-5">
          <%= link_to month_details_path do %>
            <i class="fas fa-receipt fa-lg"></i><br><div class="negative-margin"><span class="font-size">明細</span></div>
          <% end %>
        </div>
        <div class="col prl-5 orange">
          <%= link_to reimbursement_month_details_path do %>
            <i class="fas fa-cash-register fa-lg gold fs-15"></i><br><div class="negative-margin"><span class="font-size gold">精算</span></div>
          <% end %>
        </div>
        <div class="col prl-5">
          <%= link_to month_budgets_path do %>
            <i class="fas fa-chart-pie fa-lg"></i><br><div class="negative-margin"><span class="font-size">分析</span></div>
          <% end %>
        </div>
        <div class="col prl-5">
          <%= link_to month_deposits_path do %>
            <i class="fas fa-piggy-bank fa-lg"></i><br><div class="negative-margin"><span class="font-size">入金</span></div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</footer>